html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.img_div {
    min-height: 350px;
}

#modal h2,#modal h1,.title,.calendar-view{
    color: #000000;
}
.my-form label{
    display: none;
}
.fc td.fc-today {
    border-style: double;
    color: #000;
}
.fc-widget-header {
    background: none !important;
}
.cats{
    list-style: none;
    padding: 0;
}
.cat-box ul.sub{
    padding-left: 25px;
}
.cats label {
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
}
.cats .icheckbox_flat-green {
    margin-right: 8px;
}
.todo-list>li{
    font-size: 18px;
}
.btn_category{
    color: #000;
    margin-right: 7px;
}
a.count {
    font-size: 15px;
}