
.container-4 {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 2000px;
}

.bg-proj-1 {
    border: 1px solid #eee;
    border-top: 0;
    border-left: 0;
    text-align: center;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.bg-proj-2 {
    background: #333;
    text-align: center;
}
.proj-1 {
    margin: 0px 10px;
    text-align: center;
    margin-top: 5%;
    display: inline-block;
}
.proj-1 img {
    padding: 20px;
    border: 1px solid #eee;
    margin-top: 10px;
    margin-bottom: 50px;

}
.proj-1 h1 {
    color: #fff;
    font-family: 'sans';
    font-size: 24px; 
    font-weight: 900;
    margin-top: 20px;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;

}
.proj-1 p {
    color: #aaa;
    margin-top: 20px;
    font-size: 13px;  
    font-family: 'sans';
    font-weight: 0;
    margin-bottom: 140px;
}
.proj-1:hover p {
    display: inline-block;
}







.bg-blo-1 {
    border-bottom: 1px solid #eee;
    text-align: left;
    margin: 80px 0 0px 0;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.blo-1 {
    padding: 0px 40px;
    display: inline-block;
    width: 100%;
}
.blo-1 h1 {
    color: #444;
    font-family: 'sans';
    font-size: 24px; 
    font-weight: 900;
    margin-top: 20px;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;

}
.blo-1 p {
    color: #999;
    margin-top: 20px;
    font-size: 13px;  
    font-family: 'sans';
    font-weight: 0;
    margin-bottom: 140px;
    line-height: 26px;
}
.blo-1:hover p {
    display: inline-block;
}


.blo-2 {
    margin: 0px 10px;
    display: inline-block;
    width: 100%;
    padding: 20px;
    border: 1px solid #eee;
    width: 100%;
    margin-bottom: 20px;
}
.blo-2 img {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;

}
.blo-2 h1 {
    font-size: 14px;
    font-family: 'sans';
    margin: 10px 0;
}
.blo-2 h1 span {
    font-weight: 900;
}
.blo-2 h1 i {
  font-size: 14px;
    font-weight: 900;
    color: #9d9a7d
}
.blo-2 h1 strong {
  font-size: 10px;
    padding: 2px 4px;
    border-radius: 3px;
    color: #fff;
    background: #9d9a7d;
    opacity: .9;
}



@media only screen and (max-width: 400px) {
.blo-1 {
    margin: 0px 4px;
    padding:3px;
}
.blo-2 {
    margin: 0px 4px;
    padding:6px;
}

.blo-2 h1 {
    font-size: 11px;
}
.blo-2 h1 i {
  font-size: 11px;
}
.blo-2 h1 strong {
  font-size: 10px;
}


}