

html, body, ul, h1, h2, h3, h4, h5, h6 {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 300!important;
}
.ser-1 h1{
	font-weight: 300!important;
}
header.container {
	height: 444px;
}


#hero {
	position: relative;
	width: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 0;
}
#hero.fullscreen {
	height: 100%;
}
#hero[data-stellar-background-ratio]{
	background-position: center top;
}
#hero.hero-fixed, #hero.hero-parallax {
	position: fixed;
	top: 0
}

#hero .hero-title .button {
	margin-top: 20px;
}
.page-title h1 {
	font-family: 'montserrat' !important;
}

#hero .container {
	display: table;
	height: 100%;
}
#hero .hero-title {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	padding: 100px 0 50px;
}
#hero.fullscreen .hero-title {
	padding: 100px 0;
}
#hero .hero-title.vtop {
	vertical-align: top;
}
#hero .hero-title.vbottom {
	vertical-align: bottom;
}
#hero.darkbg {
	color: #fff;
}


.play-btn {
	display: inline-block;
	font-size: 90px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	color: #efefef;
	line-height: 80px;
	text-align: center;
}
.play-btn:hover {
	color: #efefef;
}



.flex-viewport {
	height: 100%;
}
.hero-slider{
	position: relative;
	overflow: hidden;


}
.hero-slider .slides {
	height: 100%;
	margin: 0
}
.hero-slider .slides > li {
	height: 100%;
	margin: 0
}
.hero-slider .slidebg{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	-webkit-background-size: cover;
	background-size: cover;
}
.hero-title h2{
	font-family: 'sans';
	text-transform: uppercase;
	margin-top: 28px;
	font-weight: 900;
}

.hero-title p{
	margin-top: 16px;
	font-family: 'sans';
	color: rgba(0,0,0,.6);
}
.hero-slider .hero-title h2 {
	opacity: 0;
	-webkit-transform: translateY(-30px);
	   -moz-transform: translateY(-30px);
	    -ms-transform: translateY(-30px);
	     -o-transform: translateY(-30px);
	        transform: translateY(-30px);
	-webkit-transition: all 1.9s ease .7s;
	   -moz-transition: all 1.9s ease .7s;
	    -ms-transition: all 1.9s ease .7s;
	     -o-transition: all 1.9s ease .7s;
	        transition: all 1.9s ease .7s;
}
.hero-slider .flex-active-slide .hero-title h2 {
	opacity: 1;
	-webkit-transform: translateY(0px);
	   -moz-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	     -o-transform: translateY(0px);
	        transform: translateY(0px);
}

.hero-slider .hero-title p {
	opacity: 0;
	-webkit-transform: translateY(-60px);
	   -moz-transform: translateY(-60px);
	    -ms-transform: translateY(-60px);
	     -o-transform: translateY(-60px);
	        transform: translateY(-60px);
	-webkit-transition: all 2.2s ease .7s;
	   -moz-transition: all 2.2s ease .7s;
	    -ms-transition: all 2.2s ease .7s;
	     -o-transition: all 2.2s ease .7s;
	        transition: all 2.2s ease .7s;
}
.hero-slider .flex-active-slide .hero-title p {
	opacity: 1;
	-webkit-transform: translateY(0px);
	   -moz-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	     -o-transform: translateY(0px);
	        transform: translateY(0px);
}

.slidebg{
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}
.hero-slider > .slides > li .slidebg{
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
	    -ms-transform: scale(1);
	     -o-transform: scale(1);
	        transform: scale(1);
	-webkit-transition: transform 10s ease;
	   -moz-transition: transform 10s ease;
	    -ms-transition: transform 10s ease;
	     -o-transition: transform 10s ease;
	        transition: transform 10s ease;
}
.hero-slider > .slides > li.flex-active-slide .slidebg{
	-webkit-transform: scale(1.15);
	   -moz-transform: scale(1.15);
	    -ms-transform: scale(1.15);
	     -o-transform: scale(1.15);
	        transform: scale(1.15);
}


.hero-slider .flex-direction-nav {
	list-style: none;
}
.hero-slider .flex-direction-nav li a {
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	bottom: 0;
	z-index: 2;
}
.hero-slider .flex-prev{
	left: 0;
	cursor: url(../image/preview.png), e-resize;
}
.hero-slider .flex-next{
	right: 0;
	cursor: url(../image/next.png), e-resize;
}
* {
	margin: 0;
	padding: 0;
	outline: 0;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.overlay-light {
	background-color: rgba(255, 255, 255, 0.7)
}

[class*="overlay-dark"] ~ *,
[class*="overlay-light"] ~ *
{
	position: relative
}
.home-section{
  width: 100%;
  display: block; 
  position: relative;
    overflow: hidden;
  background-repeat: no-repeat;
    background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#MainHeader {
	height: 444px;
	z-index: 1;
	position: relative;
}

.topslider {
	left: 0;
	right: 0;
	display: block;
    	margin-left: auto;
    	margin-right: auto;
	width:476px;
	height: 44px;
	position: relative;
  top: 7%;
  transform: translateY(-50%);
}

#home-items {
	position:absolute;
	width:476px;
	height:100%; 
}						



#block-left {
	float:left;
    	margin-top: 70px;
	width:476px;
	height:525px;
	color:white; 
	font-family : 'bebas';
	margin-right:5px; 
}
#block-left a { text-decoration:none; }
	
				
#block-center {
}


#block-right {
}



#bick1   { width:472px; height:220px; float:left; z-index:1;margin-bottom:4px;margin-right:4px;}
#bick2   { width:234px; height:220px; float:left; z-index:1;margin-bottom:4px;margin-right:4px;}	
#bick3   { width:234px; height:220px; float:left; z-index:1;margin-bottom:4px;margin-right:0px;}
#bick4   { width:234px; height:220px; float:left; z-index:1;margin-bottom:4px;margin-right:4px;}
#bick5   { width:234px; height:220px; float:left; z-index:1;margin-bottom:4px;margin-right:0px;}
#bick6   { width:234px; height:220px; float:left; z-index:1;margin-bottom:4px;margin-right:4px;}	
#bick7   { width:234px; height:220px; float:left; z-index:1;margin-bottom:4px;margin-right:4px;}

#bickshowc1   { width:100%; height:440px;}
#bickshowc2   { width:100%; height:440px;}
#bickshowc3   { width:100%; height:440px;}

.opa-met img {
}


.opa-met:hover img {
	opacity: .9;
}


.opa-met2 img {
	-webkit-transition: all 0.2s ease-;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-outout;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}


.opa-met2:hover img {
	opacity: .8;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}


.opa-met3 img {
}
.opa-met3:hover img {
}

.navi-main {

	float:left;
	width:472px;
	height:220px;
	display:inline-block;
	text-align:left;
	padding-left:30px;
	padding-right:30px;
	padding-top:20px;
	background: rgba(250,250,250,1);
	font-weight:900 !important;
}

.navi-main h1 {
	font-size:24px;
	color:#000;
	padding-top:16px;
	font-family : 'sans';
	text-transform: uppercase;
}
.navi-main h3 {
	font-size:16px;
	line-height: 34px;
	font-weight:300;
	color:#999;
	padding-top:18px;
	font-family : 'raleway';
}
.navi-main h3 span {
	color:#222;
}

.navi-main h3 span:hover {
	color:#000;
}

.navi-sq-2 {		
	float:left;
	width:234px;
	height:220px;
	background:  #9d9a7d;
	text-align:center;
	vertical-align: middle;
	font-family : 'sans';

}								
				
	
.navi-sq-2 h2  {		
	margin-top: 30px;
}	
.navi-sq-2 h2 img {		
	width: 60px;
}	
	
.navi-sq-2 h2 span {	
	font-size:19px;
	line-height: 34px;
	font-weight:900;
	color:#f4f4f4;
	padding-top:14px;
	font-family : 'sans';
	text-transform: uppercase;
}	
	
.navi-sq-2 h2:hover span {	
	color:#fff;
}	
		
.navi-sq-4 {		
	float:left;
	width:234px;
	height:220px;
	background:  rgba(244,244,244,1);
	display:inline-block;
	text-align:left;
	padding-left:30px;
	padding-right:30px;
	padding-top:20px;
}								
	
.navi-sq-4 h1 {
	font-size:16px;
	font-weight:0;
	color:#000;
	padding-top:10px;
	font-family : 'raleway';
	text-transform: uppercase;
}
.navi-sq-4 h3 {
	font-size:14px;
	line-height: 34px;
	font-weight:300;
	color:#999;
	padding-top:18px;
	font-family : 'raleway';
}
.navi-sq-4 h3 span {
	color:#222;
	font-family : 'raleway';
}

.navi-sq-4 h3 span:hover {
	color:#000;
} 
.navi-sq-5 {		
	float:left;
	width:234px;
	height:220px;
	background:  rgba(255,255,255,1);
	text-align:center;
	vertical-align: middle;
}								
	
.navi-sq-5 h2  {		
	margin-top: 14px;
}
.navi-sq-5 h2 img {		
	width: 80px;
}	
	
.navi-sq-5 h2 span {	
	font-size:17px;
	line-height: 34px;
	font-weight:300;
	color:#444;
	padding-top:14px;
	font-family: 'raleway';
	text-transform: uppercase;
}	
	
.navi-sq-5 h2:hover span {	
	color:#000;
}	

.navi-sq-6 {		
	float:left;
	width:234px;
	height:220px;
	background:  rgba(243,243,243,1);
	text-align:center;
	vertical-align: middle;
}								
						
	
.navi-sq-6 h2  {		
	margin-top: 14px;
}
.navi-sq-6 h2 img {		
	width: 80px;
}	
	
.navi-sq-6 h2 span {	
	font-size:16px;
	line-height: 34px;
	font-weight:0;
	color:#000;
	padding-top:14px;
	font-family : 'raleway';
	text-transform: uppercase;
}	
	
.navi-sq-6 h2:hover span {	
	color:#000;
}	


@media screen and (min-width: 1400px){
.topslider {
  top: 12%;
}
}

@media screen and (min-width: 1600px){	
.topslider {
  top: 16%;
}
}
@media screen and (min-width: 1800px){	
.topslider {
  top: 18%;
}
}

@media screen and (min-width: 2000px){	
.topslider {
  top: 22%;
}
}
@media screen and (min-width: 2400px){	
.topslider {
  top: 25%;
}
}

@media screen and (min-width: 490px) and (max-width: 990px){	
}
@media screen and (max-width: 990px){	
}
@media screen and (max-width: 720px){	
}

@media screen and (max-width: 480px){	

#bick1 {
	display: none;
}
#bick4 {
	display: none;
}
#bick3 {
	display: none;
}
#bick6 {
	display: none;
}
#bick7 {
	display: none;
}
.topslider {
  top: 20%;
	width:234px;
}
#home-items {
	width:234px;
}						
#block-left {
	width:234px;
}
}


@media screen and (min-width: 868px) and (max-width: 1024px) {

}

@media screen and (max-width: 377px) {

}