@charset "utf-8"; 





@media only screen and (min-width: 1800px) {

.si-cell{ 
  height: 540px;
}
#bickshowc1   { width:100%; height:540px;}
#bickshowc2   { width:100%; height:540px;}
#bickshowc3   { width:100%; height:540px;}

}

@media only screen and (min-width: 2200px) {

.si-cell{ 
  height: 640px;
}
#bickshowc1   { width:100%; height:640px;}
#bickshowc2   { width:100%; height:640px;}
#bickshowc3   { width:100%; height:640px;}

}



@media only screen and (min-width: 650px) and (max-width: 992px) {

.about-image {
    margin-top: 80px;
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
}
}

@media only screen and (max-width: 650px) {

.about-image {
    margin-top: 80px;
}
}

@media only screen and (max-width: 992px) {

.about-i h2  {
    margin-bottom: 80px;
    width: 260px;
    height: 260px;
    margin-right: 0px;
}
.about-2 h1  {
   text-align: center;
}

#slideshow {
    width: auto;
    height: 240px;
}

.text-on-r {
    text-align: center;
}

.text-on-r-w {
    text-align: center;
    margin-top: -110px;
    margin-bottom: 40px;
}

.blog-pre-1 {
    margin: 50px 60px;
    text-align: left;
    display: inline-block;
}
.blog-pre-1 h2 {
    text-align: left;

}
}

@media only screen and (max-width: 767px) {

.footer-social-links{
    margin: 120px 0 20px 0;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

.footer-text {
  text-align: center;
    margin: 40px 0 60px 0;
}
.ft-log {
    display: none;
}
}
@media only screen and (max-width: 600px) {

#slideshow {
    width: auto;
    height: 360px;
}
.work-1 h6 {
    font-size: 22px;
}
.work-1 h6 img {
    margin: 0 4px;
}

.blog-1 h6 {
    font-size: 22px;
}

}


@media only screen and (max-width: 470px) {


.team-1 p {
    font-size: 28px;
}

}


@media only screen and (max-width: 992px) {


.team-1 {
    position: relative;
    padding: 90px 50px 170px 50px;
    margin: 0;
    text-align: center;
    border: 0;
}
}
@media only screen and (max-width: 450px) {

.about-0 p {
    font-size: 24px;
}
.work-1 h6 {
    font-size: 22px;
}
.blog-1 h6 {
    font-size: 22px;
}
.about-i h2  {
    width: 160px;
    height: 160px;
    margin-right: 0px;
}

.about-1 {
    position: relative;
    padding: 65px 20px 0px  20px;
}

.team-1 {
    position: relative;
    padding: 65px 20px 120px  20px;
}

.sk-1 {
    padding: 0px 35px;
}

#slideshow {
    width: auto;
    height: 400px;
}


.blog-pre-1 {
    margin: 45px 20px;
}

.blog-pre-2 {
    margin: 46px 20px;
}

}


@media only screen and (max-width: 410px) {


.team-1 p {
    font-size: 22px;
}

.work-1 h6 {
    font-size: 20px;
}
.work-1 h6 img {
    margin: 0 5px;
}

}

@media only screen and (max-width: 370px) {

.about-0 p {
    font-size: 20px;
}


.team-1 p {
    font-size: 20px;
}

.mybutton-t  {
   display: inline-block;
   margin: 20px 3px 20px 3px;
}

}

@media only screen and (max-width: 330px) {

.about-0 p {
    font-size: 17px;
}
.team-1 p {
    font-size: 17px;
}
.work-1 h6 {
    font-size: 16px;
}
.work-1 h6 img {
    margin: 0 4px;
}

.blog-1 h6 {
    font-size: 16px;
}
}


@media only screen and (max-width: 1360px) {

.si-cell{ 
  height: 340px;
}

#bickshowc1   { width:100%; height:340px;}
#bickshowc2   { width:100%; height:340px;}
#bickshowc3   { width:100%; height:340px;}


.service-title{
  font-size: 20px;

}

}
@media only screen and (max-width: 1060px) {

.si-cell{ 
  height: 280px;
}

#bickshowc1   { width:100%; height:280px;}
#bickshowc2   { width:100%; height:280px;}
#bickshowc3   { width:100%; height:280px;}


.service-title{
  font-size: 18px;

}

.service-intro p {
  font-size: 13px;
}

}


@media only screen and (min-width: 768px)  and (max-width: 880px) {


.si-cell{ 
  height: 240px;
}

#bickshowc1   { width:100%; height:240px;}
#bickshowc2   { width:100%; height:240px;}
#bickshowc3   { width:100%; height:240px;}


.service-intro p {
  display: none;
}

.team-member-item h3{
  font-size: 13px;
}
.team-member-item h4{
  font-size: 13px;
}
}
@media only screen and (min-width: 1200px)  and (max-width: 1270px) {

.team-member-item h6 {
  top: 24%;
}
.team-member-item:hover h6 {
  top: 25%;
}
}

@media only screen and (min-width: 1000px)  and (max-width: 1200px) {

.team-member-item h6 {
  top: 24%;
}
.team-member-item:hover h6 {
  top: 25%;
}
}
@media only screen and (min-width: 907px)  and (max-width: 1000px) {

.team-member-item h6 {
  top: 20%;
}
.team-member-item:hover h6 {
  top: 21%;
}
}
@media only screen and (min-width: 818px)  and (max-width: 908px) {


.team-member-item h6 {
  top: 25%;
}
.team-member-item:hover h6 {
  top: 26%;
}
}

@media only screen and (min-width: 718px)  and (max-width: 818px) {


.team-member-item h6 {
  top: 23%;
}
.team-member-item:hover h6 {
  top: 24%;
}
}

@media only screen and (min-width: 618px)  and (max-width: 718px) {


.team-member-item h6 {
  top: 20%;
}
.team-member-item:hover h6 {
  top: 21%;
}
}
@media only screen and (max-width: 368px) {


.team-member-item h6 {
  top: 24%;
}
.team-member-item:hover h6 {
  top: 25%;
}
}


@media only screen and (max-width: 1200px) {

.item-carousel .owl-prev{
  left: -65px;
  opacity: .2;
  top: 210px;
}
.item-carousel .owl-next{
  right: -65px;
  opacity: .2;
  top: 210px;
}
section:hover .item-carousel.owl-carousel .owl-prev{
  opacity: 1;
  left: -70px;
}
section:hover .item-carousel.owl-carousel .owl-next{
  opacity: 1;
  right: -70px;
}

.fact-sec h1 {
    font-size: 18px; 

}
}

@media only screen and (max-width: 1100px) {

.item-carousel .owl-prev{
  top: 240px;
}
.item-carousel .owl-next{
  top: 240px;
}
}

@media only screen and (max-width: 990px) {

.item-carousel .owl-prev{
  top: 210px;
}
.item-carousel .owl-next{
  top: 210px;
}

.sersec-1 {
    margin-top: 10%;
}

}

@media only screen and (max-width: 767px) {

.sersec-1 {
    margin-top: 15%;
}

}

@media only screen and (max-width: 467px) {

.sersec-1 {
    margin: 0px 40px;
    margin-top: 25%;
}

.services-buttons a {
    width: 60px;
    margin: 130px 4px 10px 4px; 
}

}


@media only screen and (max-width: 908px) {

.item-carousel .owl-prev{
  top: 270px;
}
.item-carousel .owl-next{
  top: 270px;
}

}


@media only screen and (max-width: 808px) {

.item-carousel .owl-prev{
  top: 240px;
}
.item-carousel .owl-next{
  top: 240px;
}

}


@media only screen and (max-width: 708px) {

.item-carousel .owl-prev{
  top: 200px;
}
.item-carousel .owl-next{
  top: 200px;
}

}


@media only screen and (max-width: 618px) {

.item-carousel .owl-prev{
  top: 320px;
}
.item-carousel .owl-next{
  top: 320px;
}

}

@media only screen and (max-width: 568px) {

.item-carousel .owl-prev{
  top: 280px;
}
.item-carousel .owl-next{
  top: 280px;
}

}





@media only screen and (max-width: 518px) {

.item-carousel .owl-prev{
  left: -45px;
  opacity: .2;
}
.item-carousel .owl-next{
  right: -45px;
  opacity: .2;
}
section:hover .item-carousel.owl-carousel .owl-prev{
  opacity: 1;
  left: -50px;
}
section:hover .item-carousel.owl-carousel .owl-next{
  opacity: 1;
  right: -50px;
}
}



















@media only screen and (max-width: 1366px) {
	
    	
    .inner-nav ul li {
        margin-left: 25px;
    }
	
}  

@media only screen and (max-width: 1200px) {
	
    .hs-wrap {
        max-width: 540px;
    }
	.hs-line-2{
		font-size: 68px;
	}
    .hs-line-13 {
        font-size: 78px;
        letter-spacing: 0.195em;
    }
	.contact-text{
		padding: 0 30px;
	}
    
    .alt-service-grid {
        margin-top: -40px;
    } 
    .alt-service-item {
        margin-top: 40px;
        padding-left: 48px;
    }
    .alt-services-title{
        font-size: 14px;
        margin-bottom: 5px;
    }
    .alt-services-image{
        margin-top: 10px;
    }
    
}


/* ==============================
   Tablet landskape
   ============================== */

@media only screen and (max-width: 1024px) {
	
	.hs-wrap {
        max-width: 480px;
		padding-top: 37px;
		padding-bottom: 43px;
    }
	.hs-line-2{
		font-size: 60px;
	}
	
    .hs-line-8 {
        font-size: 20px;
    } 
    .hs-line-9 {
        font-size: 71px;
    } 
    .hs-line-10 {
        padding: 10px 14px;
        letter-spacing: 1px;
    }
    .hs-line-10 > span {
        margin: 0 1px;
    }
    .hs-line-11 {
        font-size: 24px;
        letter-spacing: 4px;
    }
    .hs-line-12{
        font-size: 70px;
        letter-spacing: 0.3em;
    }
    
    .benefit-item {
        width: 300px;
        padding: 15px 32px;
    }
    .split-section-headings {
        width: 30%;
    }	
    .split-section-content {
        width: 70%;
    }
    
	.split-section-headings .section-title{
		font-size: 26px;
		letter-spacing: 2px;
	}
	.service-descr .service-title {
        margin-bottom: 20px;
    }
	
    .page-section{
        padding: 120px 0;
        
    }
    .page-section, .home-section{
        background-attachment: scroll;
    }
	
    .owl-pagination {
        bottom: 25px;
    }
    .section-bot-image {
        margin: 120px 0 -120px;
    }
	
    #portfolio + .small-section {
        margin-top: -90px;
    }
    
    #news + .small-section {
        margin-top: -120px;
    }
	
    .work-title, .work-descr {
        font-size: 13px;
    }
    
    .lp-item {
        width: 50%;
    }
    .lp-item:nth-child(4n + 5){ 
        clear: none; 
    }
    .lp-item:nth-child(2n + 3) {        
        clear:left;
    }
    .lp-title, .lp-author{
        font-size: 13px;
    }

}
  
@media only screen and (max-width: 992px) {
    
    .hs-line-13 {
        letter-spacing: 0.17em;
    }
  	
	.split-section-headings,
	.split-section-headings.left,
	.split-section-headings.right,
	.split-section-content,
	.split-section-content.left,
	.split-section-content.right{
		float: none !important;
		width: auto;
	}
	
	.split-section-headings .section-title{
		font-size: 35px;
		letter-spacing: 5px;
	}
	
    .banner-text {
        text-align: center;
    } 
	.banner-button {
		margin-top: 40px;
        text-align: center;
    }
	
	.team-item {
        width: 230px;
    }
	.team-item-descr{
		margin-left: 13px;
		margin-right: 13px;
		padding: 10px 7px;
	}
	.team-item-name{
		font-size: 13px;
	}
	
    .features-icon {
        font-size: 64px;
    } 
	.features-title {
        font-size: 20px;
        font-weight: 700;
    }
	.features-descr{
		font-size: 14px;
	}
	
	.work-item,
	.work-grid-3 .work-item,
    .container .work-grid-3 .work-item{
        width: 50%;
    }
    .form input.newsletter-field{
        text-align: center;
        margin-top: 40px;
    }
    .form input.newsletter-field::-webkit-input-placeholder{
        color: #000;        
        text-align:center;
     }
     
         
    .contact-item{
	    text-align: center;
        padding-right: 0 !important;
	}
    .ci-icon{
        margin: 0 auto 7px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-bottom: 1px solid rgba(255,255,255, .1);
        border-left: none;
    }
    
    .blog-item-date {
        border:none;
    }
	
	
}
  
  
/* ==============================
   Tablet Portrait
   ============================== */
  
@media only screen and (max-width: 768px) {

	.hs-wrap {
        max-width: 400px;
    }
	.hs-line-2{
		font-size: 50px;
	}
    
    .hs-line-7 {
        font-size: 50px;
    }
	

    .small-title{
        font-size: 18px;
    }
	
	.owl-pagination {
        bottom: 17px;
    }
	.item-carousel .owl-pagination {
        bottom: -53px;
    }
	
	.section-bot-image {
        margin: 70px 0 -70px;
    }
    
    .service-item{
	    width: 50%;
    }
    
	#portfolio + .small-section {
        margin-top: -40px;
    }
    
    #news + .small-section {
        margin-top: -70px;
    }
	
    .tpl-minimal-tabs > li {
        padding: 0 5px;
    }
	
		
	.benefit-item{
		width: 264px;
	}
	
	.count-descr{
		margin-bottom: 30px;
	}	
    
	.alt-service-grid{
	margin-top: -30px;
    }
    .alt-service-item {
        margin-top: 30px;
    }
    .alt-service-butt{
        display: none;
    }

	.works-filter a{
		padding-left: 10px;
		padding-right: 10px;
		margin: 4px;
	}
	
    .blog-item {
        margin-bottom: 50px;
    }
	.blog-item-date{
		top: 0;
		left: -100px;
	}
	.blog-item-title{
		font-size: 20px;
	}
    .blog-item-title .small{
        font-size: 15px;
    }
	.blog-item-body{
		font-size: 14px;
	}
    .blog-media{
        margin-bottom: 15px;
    }
    .blog-item-body .small{
		font-size: 13px;
	}

    
    #map-canvas {
        height: 300px;
    }
    
    

}

@media only screen and (max-width: 767px) {
	
	.hs-wrap {
        max-width: 320px;
		padding-top: 27px;
		padding-bottom: 33px;
    }
    .hs-line-1 {
        font-size: 18px;
    }
	.hs-line-2{
		font-size: 36px;
	}	
	.hs-line-3 {
        font-size: 13px;
    }
	.hs-image{
		display: none;
	}
    
    .hs-wrap-1 {
        max-width: 240px;
    }	
    .hs-line-5 {
        font-size: 44px;
        letter-spacing: 0.28em;
    }
    .hs-line-6 {
        font-size: 16px;
    }
    .hs-line-7 {
        font-size: 32px;
    }
	
    .hs-line-8 {
        font-size: 16px;
    } 
    .hs-line-9 {
        font-size: 48px;
    } 
    .hs-line-10 {
        padding: 5px 8px;
        font-size: 11px;
        letter-spacing: 1px;
    }
    .hs-line-10 > span {
        margin: 0;
    }
    
    .hs-line-11 {
        font-size: 18px;
        letter-spacing: 2px;
    }
    
    .hs-line-12 {
        font-size: 44px;
    }
    .hs-line-13 {
        font-size: 60px;
        letter-spacing: 0.1em;
    }
    
	.nbc-menu-button{
		width: 64px;
	}
    .service-item {
        width: 100%;
        float: none;
    }
    
	.benefit-item{
		width: 230px;
		padding: 0;
	}
	
	.benefit-item:hover:after{
		display: none;
	}
	
	.wide-heading {
        font-size: 32px;
		letter-spacing: 2px;
    }
	
	.works-filter a{
		padding-left: 10px;
		padding-right: 10px;
		margin: 4px;
		width: 46%;
		font-size: 11px;
	}	
	
	.blog-item-date{
		width: auto;
		position: relative;
		top: auto;
		left: auto;
		padding: 0;
		text-align: left;
	}
	.date-num{
		display: inline !important;
		margin: 0 5px 10px 0;
	}
    .sidebar {
        margin-top: 50px;
    } 
    
    blockquote p {
        font-size: 16px;
    }
    
    blockquote footer {
        margin-top: 0;
        font-size: 12px;
    }   
	
}


/* ==============================
   Phone
   ============================== */
  
@media only screen and (max-width: 480px) {
    
    .btn-mod.btn-large {
        padding: 12px 30px 11px;
        font-size: 13px;
    }
	
	.hs-line-2{
		font-size: 28px;
	}
    .hs-line-6 {
        font-size: 15px;
    }
    .hs-line-7 {
        font-size: 28px;
    }
    .hs-line-9 {
        font-size: 42px;
    } 
    
    .hs-line-12 {
        font-size: 32px;
    }
    .hs-line-13 {
        font-size: 30px;
        letter-spacing: 0.1em;
    }
   
   .scroll-down {
        bottom: 10px;
		height: 34px;
		line-height: 34px;
    }
    .scroll-down-icon {
        width: 22px;
        margin-left: -11px;
    }	
	.scroll-down span{
		display: none;
	}
	
	.nbc-menu-icon{
		width: 20px;
		margin-left: -10px;
		margin-top: -1px;
		height: 2px;
	}
	.nbc-menu-icon:before{
		height: 2px;
		top: -5px;
	}
	.nbc-menu-icon:after{
		height: 2px;
		top: 5px;
	}
	.nbc-menu-links a{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	
	.page-section {
        padding: 0px 0;
    }
    .small-section {
        padding: 0px 0;
    }
	
	.owl-pagination {
        bottom: 10px;
    }	
    .owl-page {
        padding-left: 1px;
		padding-right: 1px;
    } 
	.owl-page span {
        width: 18px;
    }
	
	.item-carousel .owl-pagination {
        bottom: -40px;
    }
    .owl-prev, .owl-next {
    	display: none;
    }
	
	.section-bot-image {
        margin: 50px 0 -50px;
    }
	
	#portfolio + .small-section {
        margin-top: -20px;
    }
    
    #news + .small-section {
        margin-top: -50px;
    }
	
    .section-title,
	.split-section-headings .section-title,
	.wide-heading {
        font-size: 24px;
		letter-spacing: 2px;
    }	
    .section-heading,
	.sub-heading{
        font-size: 15px;
    } 
	.section-text {
        font-size: 15px;
        line-height: 1.7;
    }
	
	.tpl-minimal-tabs > li {
        padding: 0;
    }
    .tpl-minimal-tabs > li > a {
        padding: 6px 10px 5px;
    }
	
    .work-container {
        padding: 30px 0;
    }
	.margin-bot{
        margin-bottom: 30px;
    }
	
	.section-text, 
	.text{
		line-height: 1.7;
	}
		
	.count-number{
		font-size: 32px;
	}
	.count-title{
		font-size: 12px;
	}
	
	.team-item {
        width: 250px;
    }
	
    .works-filter a{
		width: 100%;
        margin-left: 0;
        margin-right: 0;
	}	
	
	.work-item,
	.work-grid-3 .work-item,
    .container .work-grid-3 .work-item {
        width: 100%;
    }	
	.work-title{
		font-weight: 400;
	} 
    
	.work-full-text{
		margin-top: 30px;
	}
	.work-full-title{
		font-size: 20px;
	}
	
	.blog-container {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .blog-item-title{
        font-size: 16px;
    }

	.blog-item-q p{
		font-size: 16px;
	}
	.comment-avatar{
		width: 30px;
		margin-top: 7px;
	}
    
    .comment-item{
        font-size: 13px;
    }
	
	.separ-space{
		display: block;
		height: 10px;
	}
    
    .lp-item {
        width: 100%;
    }
	
	.form input.newsletter-field{
        font-size: 16px;
        margin-top: 5px;
    }
    
    .cf-left-col,
    .cf-right-col{
        width: auto;
        margin-right: 0;
        float: none;
    }
    
    .bot-menu-item{
        font-size: 16px;
    }
    
    #map-canvas {
        height: 200px;
    }
    
   .fixed-height-small{
        min-height: 300px;
    }
    .fixed-height-medium{
        min-height: 350px;
    }
    .fixed-height-large{
        min-height: 400px;
    }
}


/* ==============================
   Small Phone
   ============================== */
  
@media only screen and (max-width: 319px) {
	
  	.nav-social-links{
  		display: none;
  	}
}


/* ==============================
   Max Height 768
   ============================== */

@media only screen and (max-height: 768px) {

    .service-descr .service-icon, .service-descr .service-title {
        display: none;
    }
    
    .nbc-menu-links a{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	
}