@charset "utf-8"; 
 
/*----------------------

Theme Name: Gilas | Creative Onepage Portfolio Template
Author: sohayl
Author URI: http://themeforest.net/user/sohayl/

  Content:

    1.Fonts
    2.Typography
    3.Buttons/Forms
    4.Navigation
    5.About
    6.Showcase
    7.Services
    8.Team
    9.Facts
    10.Portfolio
    11.Small-Section
    12.Clients/Logos
    13.Blog
    14.Contact
    15.Google Map
    16.Footer
    17.OwlCarousel
    18.SkillBar

-----------------------*/


/* ----- 1.Fonts ----- */

@import "font-awesome.min.css";


/* ----- 2.Typography ----- */

::-moz-selection {
    color: #FFFFFF;
    background: #9d9a7d;
}
::selection {
    color: #FFFFFF;
    background: #9d9a7d;
}
.marg-main-top {
    margin-top: 120px;
}
.pad-bt-40 {
    padding-bottom: 90px;
}
.mrg-tp-80 {
    margin-top: 94px;
}


body{
  color: #000;
  font-size: 14px;
  font-family: raleway, arial, sans-serif;
  line-height: 1.6; 
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6{
  line-height: 1.4;
  font-weight: 700;
}
.fact-sec h1{
  font-weight: 700!important;
}
h1{
  font-size: 32px;
}
h2{
  font-size: 28px;
}
ul, ol{
    margin: 0 0 1.5em 0;
}
blockquote{
  margin: 3em 0 3em 0;
  border-width: 1px;
  border: 1px solid #eaeaea;
    padding: 2em;
  background: none;
  text-align: left;
  font-family: "Libre Baskerville", "Times New Roman", Times, serif;
  font-size: 13px;
    font-style: normal;
  line-height: 1.7;
  color: #777;
}
blockquote p{
  margin-bottom: 1em;
  font-size: 18px;
  font-style: normal;
  color: #212121; 
  line-height: 1.6;
}
blockquote footer{
    margin-top: -10px;
  font-size: 13px;
    font-family: raleway, arial, sans-serif;
}
dl dt{
  margin-bottom: 5px;
}
dl dd{
  margin-bottom: 15px;
}
pre{
  background-color: #fff;
  border-color: #ddd;

}
hr{
  background-color: #eaeaea;
}
hr.white{
    border-color: rgba(255,255,255, .35);
    background: rgba(255,255,255, .35);
}
hr.black{
    border-color:rgba(0,0,0, .85);
    background: rgba(0,0,0, .85);
}
.section-heading{
    margin: 0;
    padding: 0;
    font-family: "raleway";
    font-size: 18px;
    font-weight: normal;
    text-align: center;
  text-transform: uppercase;
    line-height: 1.3;
    color: #333;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 14px 0;
  letter-spacing: 2px;
  line-height: 30px;
  margin-bottom: 40px;
}
.bg-showcase {

    background: rgba(250,250,250,1);
}
.cher-line {
  display: inline-block;
  text-align: center;
  margin-bottom: 30px;
  opacity: .6;
}
.bg-dark-p {
    background: rgba(55,55,55,.9);
}

.bg-dark-t {
    background: rgba(20,20,20,.5);
    padding: 0 40px;
}
.xwar-xat {
  border-bottom: 1px solid #eee;
}
.bg-dark-pp {
    background: rgba(30,30,30,.8);
}
.bg-light-ppp {
    background: rgba(255,255,255,.7);
}

.bg-light-pp {
    background: rgba(255,255,255,1);
}


.title-on-l  {
    text-align: center;
    display: inline-block;
    width: 100%;
    position: relative;
    top: -75px;

}
.title-on-l img {
    background: #9d9a7d;
    width: 150px;
    height: 150px;
    margin-bottom: 0px; 

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.title-on-m  {
    text-align: center;
    display: inline-block;
    width: 100%;
    position: relative;
    top: -75px;
    z-index: 99999;
    margin-top: 74px;

}
.title-on-m img {
    background: #9d9a7d;
    width: 150px;
    height: 150px;
    margin-bottom: 0px; 

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

}

.arr {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    line-height: 0;
}
.arr img {
    display: inline-block;
}
.noc {
    margin: 0 4px;
}
.sk-1 {
    position: relative;
    padding: 0px 65px;
    margin-bottom: 50px;
}

.bg-ro-alfa-10 {
    background: rgba(30,30,30,.1);
}
.bg-ro-alfa-70 {
    background: rgba(30,30,30,.7);
}
.img-showc img {
    width: 100%
}

.page-section,
.small-section{
  width: 100%;
  display: block; 
  position: relative;
    overflow: hidden;
    background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    
  padding: 0px 0 70px 0;
}


.small-section-gr {
  width: 100%;
  background: #fff;
  display: block; 
  position: relative;
    overflow: hidden;
    background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    
  padding: 0px 0 70px 0;
}

.page-section-np {
  width: 100%;
  display: block; 
  position: relative;
    overflow: hidden;
    background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    
  padding: 0px 0px 30px 0px ;
}
.page-section-dr {
  width: 100%;
  background: #222;
  display: block; 
  position: relative;
    overflow: hidden;
    background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    
  padding: 0px 0 30px 0;
}

.page-section-on {
  width: 100%;
  display: inline-block; 
  position: relative;
    overflow: hidden;
    background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    
  padding: 70px 0;
  z-index: 9999999;
}
.small-section{
  padding: 0px 0;
}
.small-title{
    padding: 0;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: #222;
    font-size: 24px;
}
.section-icon{
    text-align: center;
    font-size: 62px;
    color: #fff;
}
.small-title .serif{
    text-transform: none;
    font-weight: 400;
}
.small-title.white{
    color: #fff;
}
.bg-scroll{
  background-attachment: scroll !important;
}
.pattern {
    content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
    background-repeat: repeat;
  background: url('../image/patt-1.png');
  opacity: .8
}
.pattern-1 {
    content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
    background-repeat: repeat;
  background: rgba(65,65,65,.05);
}
.pattern-2 {
    content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
    background-repeat: repeat;
  background: rgba(65,65,65,.05);
}
.bg-pattern{
  background-repeat: repeat;
  background-size: auto;
}
.bg-opa {
  opacity: .08;
}
.bg-pattern-over:before,
.bg-pattern-over .YTPOverlay:after{
    content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
    background-repeat: repeat;
  background-size: auto;
  background-image: url(../images/pattern-bg-2.png);
}
.bg-gray{
  background-color: #9d9a7d;
}
.bg-gray-lighter{
  background-color: #333;
}
.ssh-cell{
  display: table-cell;  
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.split-section-content{
  width: 61.8%;
  float: right;
  min-height: 300px;
  position: relative;
    overflow: hidden;
  background: rgba(255,255,255, .97);
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.uppercase{
  text-transform: uppercase;
  letter-spacing: 1px;
}
.serif{
  font-family: "Libre Baskerville", "Times New Roman", Times, serif;
  font-style: italic;
    font-weight: normal;
}
.normal{
  font-weight: normal;
}
.strong{
    font-weight: 700 !important;
}
.lead{
    margin: 1em 0 2em 0;
    font-size: 140%;
    line-height: 1.6;
}
.text{    
  font-size: 16px;
  font-weight: 300;
  color: #5f5f5f;
  line-height: 1.8;
  padding: 0 50px;
  text-align: center;
}
.text h1,
.text h2,
.text h3,
.text h4,
.text h5,
.text h6{
  color: #000;
}

.number{
    font-family: Montserrat, arial, sans-serif;
  font-weight: 400;
}

.big-icon{
  display: block;
  width: 90px;
  height: 90px;
  margin: 0 auto 20px;
  border: 2px solid rgba(255,255,255, .75);
  text-align: center;
  line-height: 90px;
  font-size: 40px;
  color: rgba(255,255,255, .97);
  
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.big-icon .fa-play{
  position: relative;
  left: 3px;
}
.big-icon-link{
  display: inline-block;
  text-decoration: none;
}
.big-icon-link:hover{
    border-color: transparent !important;
}
.big-icon-link:hover .big-icon{
  border-color: #fff;
  color: #fff;
  
  -webkit-transition: 0 none !important;  
    -moz-transition: 0 none !important;  
   -ms-transition: 0 none !important;
    -o-transition: 0 none !important;    
    transition:0 none !important;  
}
.big-icon-link:active .big-icon{
  -webkit-transform: scale(0.99);
  -moz-transform: scale(0.99);
  -o-transform: scale(0.99);
  -ms-transform: scale(0.99);
  transform: scale(0.99);
}

.wide-heading{
  display: block;
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 5px;  
  text-align: center;
  text-transform: uppercase;
  color: rgba(255,255,255, .87);
  
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.big-icon-link:hover,
.big-icon-link:hover .wide-heading{
  color: #fff;
  text-decoration: none;
}
.sub-heading{
  font-family: "Libre Baskerville", "Times New Roman", Times, serif;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  line-height: 1.3;
  color: rgba(255,255,255, .75);
}

.big-icon.black{
    color: #000;
    border-color: rgba(0,0,0, .75);
}
.big-icon-link:hover .big-icon.black{
    color: #000;
    border-color: #000;
}
.wide-heading.black{
    color: rgba(0,0,0, .87);
}
.big-icon-link.black:hover,
.big-icon-link:hover .wide-heading.black{
  color: #000;
  text-decoration: none;
}
.sub-heading.black{
  color: rgba(0,0,0, .75);
}

.align-center{ text-align:center !important; }
.align-left{ text-align:left !important;}
.align-right{ text-align:right !important; }
.left{float:left !important;}
.right{float:right !important;}
.relative{position:relative;}
.hidden{display:none;}
.inline-block{display:inline-block;}
.white{ color: #fff !important; }
.black{ color: #000 !important; }
.color{ color: #9d9a7d !important; }
.stick-fixed{
  position: fixed !important;
  top: 0;
  left: 0;
}

::-moz-selection{ color: #fff; background:#000; }
::-webkit-selection{ color: #fff; background:#000; }
::selection{ color: #fff; background:#000; }

.animate, .animate *{
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.no-animate, .no-animate *{
  -webkit-transition: 0 none !important;  
    -moz-transition: 0 none !important;  
   -ms-transition: 0 none !important;
    -o-transition: 0 none !important;    
    transition:0 none !important;  
}

.shadow{
    -webkit-box-shadow: 0px 3px 50px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0px 3px 50px rgba(0, 0, 0, .15);
    box-shadow: 0px 3px 50px rgba(0, 0, 0, .15);
}
.white-shadow{
    -webkit-box-shadow: 0px 0px 200px rgba(255, 255, 255, .2);
    -moz-box-shadow: 0px 0px 200px rgba(255, 255, 255, .2);
    box-shadow: 0px 0px 200px rgba(255, 255, 255, .2);
}

.clearlist, .clearlist li {
    list-style: none;
    padding: 0;
    margin: 0;
    background: none;
}

.full-wrapper {
    margin: 0 2%;
}

html{
  overflow-y: scroll;
    -ms-overflow-style: scrollbar;
}
html, body{
  height: 100%;
  -webkit-font-smoothing: antialiased;
}


.body-masked{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;  
}

.mask-delay{
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
  animation-delay: 0.75s;
}
.mask-speed{
  -webkit-animation-duration: 0.25s !important;
  -moz-animation-duration: 0.25s !important;
  animation-duration: 0.25s !important;
} 
iframe{
    border: none;
}
a, b, div, ul, li{
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
  -webkit-tap-highlight-color: transparent; 
  -moz-outline-: none;
}
a:focus,
a:active{
  -moz-outline: none;
  outline: none;
}
img:not([draggable]), embed, object, video {
    max-width: 100%;
    height: auto;
}
#loader-wrapper {
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:1000;
background:#fff;
}

#loader {
display:block;
position:relative;
left:50%;
top:50%;
width:150px;
height:150px;
border-radius:50%;
border:2px solid transparent;
border-top-color:#9d9a7d;
-webkit-animation:spin 2s linear infinite;
animation:spin 2s linear infinite;
margin:-75px 0 0 -75px;
}


.page-loader{
  display:block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255,255,255,1);
  z-index: 100000;  
  text-align: center;
}

.page-loader img{
display:block;
position:absolute;
left:50%;
top:50%;
width: 100px;
height: 100px;
margin-top: -50px;
margin-left: -50px;
background: #9d9a7d;
border-radius: 50%;
padding: 0px;
}
.page-loader span{
    display: inline-block;
    margin: 1.5em;
    margin: -4em 0 0 -4em;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #999;
    text-align: center;
    line-height: 8em;
    font-weight: 400;
    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.loading {
  display: inline-block;
  margin: 5em;
  border-width: 40px;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
     -moz-animation: spin 2s linear infinite;
       -o-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  }

.style-1 {
  border-style: solid;
  border-color: #555 transparent;
  text-align: center;
  }


@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(359deg); }
  }

@-moz-keyframes spin {
  100% { -moz-transform: rotate(359deg); }
  }

@-o-keyframes spin {
  100% { -moz-transform: rotate(359deg); }
  }

@keyframes spin {
  100% {  transform: rotate(359deg); }
  }


@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.cd-headline.loading-bar span {
  display: inline-block;
  padding: .2em 0;
}
.cd-headline.loading-bar .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.loading-bar .cd-words-wrapper::after {
  /* loading bar */
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #9d9a7d;
  z-index: 2;
  -webkit-transition: width 0.6s -0.1s;
  -moz-transition: width 0.6s -0.1s;
  transition: width 0.6s -0.1s;
}
.cd-headline.loading-bar .cd-words-wrapper.is-loading::after {
  width: 100%;
  -webkit-transition: width 5s;
  -moz-transition: width 5s;
  transition: width 5s;
}
.cd-headline.loading-bar b {
  top: .2em;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.cd-headline.loading-bar b.is-visible {
  opacity: 1;
  top: 0;
}

.cd-headline {
}
.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}


/* ----- 3.Buttons/Forms ----- */

.mybutton a span, .mybutton button span {
    background: transparent;
    border: 2px solid #444;
    color: #444;
    font-family: 'raleway';
}

.csstransforms3d .mybutton a:hover span::before, .csstransforms3d .mybutton button:hover span::before{
    background: transparent;
    border: 2px solid #444;
    color: #fff;
    background: #444;
    line-height: 35px;
}


.mybutton.small a, .mybutton.small button {
    font-size: 16px;
    line-height: 40px;
    font-weight: 700;
}
.mybutton.small a span, .mybutton.small button span {
    padding: 0 20px;
}

.mybutton a, .mybutton button {
    text-transform: uppercase;
    border: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0;
}
.mybutton a span, .mybutton button span {
    text-align: center;
    position: relative;
    display: inline-block;
}

@media (min-width: 100px) {

    .mybutton a, .mybutton button {
        -webkit-perspective: 1000px;
        -moz-perspective: 1000px;
        perspective: 1000px;
        letter-spacing: 0;
    }
    .mybutton a span, .mybutton button span {
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;

        -webkit-transform-origin: 50% 0;
        -moz-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .mybutton a:hover span, .mybutton button:hover span {
        -webkit-transform: rotateX(90deg) translateY(-22px);
        -moz-transform: rotateX(90deg) translateY(-22px);
        transform: rotateX(90deg) translateY(-22px);
    }
    .csstransforms3d .mybutton a span::before, .csstransforms3d .mybutton button span::before {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        content: attr(data-hover);
        -webkit-transition: background 0.3s;
        -moz-transition: background 0.3s;
        transition: background 0.3s;
        -webkit-transform: rotateX(-90deg);
        -moz-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        -webkit-transform-origin: 50% 0;
        -moz-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }

}

.mybutton-w a span, .mybutton-w button span {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-family: 'raleway';
}

.csstransforms3d .mybutton-w a:hover span::before, .csstransforms3d .mybutton-w button:hover span::before{
    background: transparent;
    border: 2px solid #fff;
    color: #333;
    background: #fff;
    line-height: 35px;
}

.mybutton-w.small a, .mybutton-w.small button {
    font-size: 16px;
    line-height: 40px;
    font-weight: 700;
}
.mybutton-w.small a span, .mybutton-w.small button span {
    padding: 0 20px;
}


.mybutton-w a, .mybutton-w button {
    text-transform: uppercase;
    border: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0;
}
.mybutton-w a span, .mybutton-w button span {
    text-align: center;
    position: relative;
    display: inline-block;
}

@media (min-width: 100px) {

    .mybutton-w a, .mybutton-w button {
        -webkit-perspective: 1000px;
        -moz-perspective: 1000px;
        perspective: 1000px;
        letter-spacing: 0;
    }
    .mybutton-w a span, .mybutton-w button span {
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
        -webkit-transform-origin: 50% 0;
        -moz-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .mybutton-w a:hover span, .mybutton-w button:hover span {
        -webkit-transform: rotateX(90deg) translateY(-22px);
        -moz-transform: rotateX(90deg) translateY(-22px);
        transform: rotateX(90deg) translateY(-22px);
    }
    .csstransforms3d .mybutton-w a span::before, .csstransforms3d .mybutton-w button span::before {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        content: attr(data-hover);
        -webkit-transition: background 0.3s;
        -moz-transition: background 0.3s;
        transition: background 0.3s;
        -webkit-transform: rotateX(-90deg);
        -moz-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        -webkit-transform-origin: 50% 0;
        -moz-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }

}

.mybutton-v a span, .mybutton-v button span {
    background: transparent;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    color: #fff;
    font-family: 'raleway';
}

.csstransforms3d .mybutton-v a:hover span::before, .csstransforms3d .mybutton-v button:hover span::before{
    background: transparent;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    color: #fff;
    line-height: 35px;
}


.mybutton-v.small a, .mybutton-v.small button {
    font-size: 12px;
    line-height: 40px;
    font-weight: 0;
}
.mybutton-v.small a span, .mybutton-v.small button span {
    padding: 0 3px;
}


.mybutton-v a, .mybutton-v button {
    text-transform: uppercase;
    border: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0;
}
.mybutton-v a span, .mybutton-v button span {
    text-align: center;
    position: relative;
    display: inline-block;
}

@media (min-width: 100px) {

    .mybutton-v a, .mybutton-v button {
        -webkit-perspective: 1000px;
        -moz-perspective: 1000px;
        perspective: 1000px;
        letter-spacing: 0;
    }
    .mybutton-v a span, .mybutton-v button span {
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
        -webkit-transform-origin: 50% 0;
        -moz-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .mybutton-v a:hover span, .mybutton-v button:hover span {
        -webkit-transform: rotateX(90deg) translateY(-22px);
        -moz-transform: rotateX(90deg) translateY(-22px);
        transform: rotateX(90deg) translateY(-22px);
    }
    .csstransforms3d .mybutton-v a span::before, .csstransforms3d .mybutton-v button span::before {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        content: attr(data-hover);
        -webkit-transition: background 0.3s;
        -moz-transition: background 0.3s;
        transition: background 0.3s;
        -webkit-transform: rotateX(-90deg);
        -moz-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        -webkit-transform-origin: 50% 0;
        -moz-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }

}





.btn-cont {
    background: transparent;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: rgba(0,0,0,.3);
    border-left: 0;
    border-right: 0;
    box-shadow: 0;
    color:  rgba(0,0,0,.5);
    font-family: 'raleway';
    padding: 8px 3px;
    font-size: 14px;
    margin-top: 10px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}

.btn-cont:hover {
    border-color: rgba(0,0,0,.5);
    color:  rgba(0,0,0,.8);

}


.mybutton-t  {
   display: inline-block;
   margin: 20px 3px 70px 3px;
}


.mybutton-t a span, .mybutton-t button span {
    background: transparent;
    border: 1px solid #333;
    color: #333;
    line-height: 30px;
    padding-bottom: 28px;
    font-family: 'raleway';
}

.csstransforms3d .mybutton-t a:hover span::before, .csstransforms3d .mybutton-t button:hover span::before{
    background: transparent;
    border: 1px solid #333;
    color: #fff;
    background: #333;
    line-height: 28px;
    padding-bottom: 30px;
}
.mybutton-t.small a, .mybutton-t.small button {
    font-size: 13px;
    font-weight: 700;
}
.mybutton-t.small a span, .mybutton-t.small button span {
    padding: 0 8px;
}

.mybutton-t a, .mybutton-t button {
    text-transform: uppercase;
    border: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0;
}
.mybutton-t a span, .mybutton-t button span {
    text-align: center;
    position: relative;
    display: inline-block;
}

@media (min-width: 100px) {

    .mybutton-t a, .mybutton-t button {
        -webkit-perspective: 1000px;
        -moz-perspective: 1000px;
        perspective: 1000px;
        letter-spacing: 0;
    }
    .mybutton-t a span, .mybutton-t button span {
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
        -webkit-transform-origin: 50% 0;
        -moz-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .mybutton-t a:hover span, .mybutton-t button:hover span {
        -webkit-transform: rotateX(90deg) translateY(-22px);
        -moz-transform: rotateX(90deg) translateY(-22px);
        transform: rotateX(90deg) translateY(-22px);
    }
    .csstransforms3d .mybutton-t a span::before, .csstransforms3d .mybutton-t button span::before {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        content: attr(data-hover);
        -webkit-transition: background 0.3s;
        -moz-transition: background 0.3s;
        transition: background 0.3s;
        -webkit-transform: rotateX(-90deg);
        -moz-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        -webkit-transform-origin: 50% 0;
        -moz-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }

}

.btn-mod,
a.btn-mod{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 20px 7px;
    color: #fff;
    background: rgba(34,34,34, .9);
  border: 2px solid transparent;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
    
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  
  -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.btn-mod:hover,
.btn-mod:focus,
a.btn-mod:hover,
a.btn-mod:focus{
  font-weight: 700;
  color: rgba(255,255,255, .85);
    background: rgba(0,0,0, .7);
  text-decoration: none;
}
.btn-mod:active{
  cursor: pointer !important;
}

.btn-mod.btn-small{
    padding: 6px 15px 5px;
  font-size: 11px;
    letter-spacing: 1px;
} 
.btn-mod.btn-medium{
    padding: 12px 27px 11px;
  font-size: 12px;
} 
.btn-mod.btn-large{
    padding: 15px 40px 14px;
  font-size: 13px;
} 

.btn-mod.btn-glass{
    color: rgba(255,255,255, .75);
    background: rgba(0,0,0, .40);
}
.btn-mod.btn-glass:hover,
.btn-mod.btn-glass:focus{
    color: rgba(255,255,255, 1);
    background: rgba(0,0,0, 1);
}

.btn-mod.btn-border{
    color: #151515;
  border: 2px solid #151515;
    background: transparent;
}
.btn-mod.btn-border:hover,
.btn-mod.btn-border:focus{
    color: #fff;
  border-color: transparent;
    background: #000;
}

.btn-mod.btn-border-c{
    color: #9d9a7d;
  border: 2px solid #9d9a7d;
    background: transparent;
}
.btn-mod.btn-border-c:hover,
.btn-mod.btn-border-c:focus{
    color: #fff;
  border-color: transparent;
    background: #9d9a7d;
}

.btn-mod.btn-border-w{
    color: #fff;
  border: 2px solid rgba(255,255,255, .75);
    background: transparent;
}
.btn-mod.btn-border-w:hover,
.btn-mod.btn-border-w:focus{
    color: #000;
  border-color: transparent;
    background: #fff;
}

.btn-mod.btn-w{
    color: #000;
    background: rgba(255,255,255, .9);
}
.btn-mod.btn-w:hover,
.btn-mod.btn-w:focus{
    color: #000;
    background: #fff;
}

.btn-mod.btn-w-color{
    color: #9d9a7d;
    background: #fff;
}
.btn-mod.btn-w-color:hover,
.btn-mod.btn-w-color:focus{
  color: #151515;
    background: #fff;
}

.btn-mod.btn-color{
    color: #fff;
    background: #9d9a7d;
}
.btn-mod.btn-color:hover,
.btn-mod.btn-color:focus{
    color: #fff;
    background: #9d9a7d;
    opacity: .85;
}

.btn-mod.btn-circle{
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.btn-icon{
  position: relative;
    border: none;
    overflow: hidden;
}
.btn-icon.btn-small{
  overflow: hidden;
}
.btn-icon > span{
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-top: -25px;
  position: absolute;
  top: 50%;
  left: 0;
  color: #9d9a7d;
  font-size: 48px;
  opacity: .2;
  
  -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.btn-icon:hover > span{
  opacity: 0;
    
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}
.btn-icon > span.white{
    color: #fff;
}
.btn-icon > span.black{
    color: #000;
}
.btn-full{
  width: 100%;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="number"],
.form input[type="url"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="password"],
.form input[type="date"],
.form input[type="color"],
.form select{
  height: 38px;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #777;
  border: 1px solid #e9e9e9;
    
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.form select{
    font-size: 12px;
}
.form select[multiple]{
    height: auto;
}
.form input[type="text"]:hover,
.form input[type="email"]:hover,
.form input[type="number"]:hover,
.form input[type="url"]:hover,
.form input[type="search"]:hover,
.form input[type="tel"]:hover,
.form input[type="password"]:hover,
.form input[type="date"]:hover,
.form input[type="color"]:hover,
.form select:hover{
  border-color: #ccc;
}
.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form input[type="number"]:focus,
.form input[type="url"]:focus,
.form input[type="search"]:focus,
.form input[type="tel"]:focus,
.form input[type="password"]:focus,
.form input[type="date"]:focus,
.form input[type="color"]:focus,
.form select:focus{
  color: #151515;
  border-color: #151515;
  -webkit-box-shadow: 0 0 3px rgba(21,21,21, .3);
  -moz-box-shadow: 0 0 3px rgba(21,21,21, .3);
  box-shadow: 0 0 3px rgba(21,21,21, .3);
}
.form input[type="text"].input-lg,
.form input[type="email"].input-lg,
.form input[type="number"].input-lg,
.form input[type="url"].input-lg,
.form input[type="search"].input-lg,
.form input[type="tel"].input-lg,
.form input[type="password"].input-lg,
.form input[type="date"].input-lg,
.form input[type="color"].input-lg,
.form select.input-lg{
  height: 48px;
}
.form input[type="text"].input-sm,
.form input[type="email"].input-sm,
.form input[type="number"].input-sm,
.form input[type="url"].input-sm,
.form input[type="search"].input-sm,
.form input[type="tel"].input-sm,
.form input[type="password"].input-sm,
.form input[type="date"].input-sm,
.form input[type="color"].input-sm,
.form select.input-sm{
  height: 28px;
}
.form textarea{
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase !important;
  letter-spacing: 1px;
  color: #777;
  border-color: #e9e9e9;
  
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
    
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.form textarea:hover{
  border-color: #ccc;
}
.form textarea:focus{
  color: #151515;
  border-color: #151515;
  -webkit-box-shadow: 0 0 3px rgba(21,21,21, .3);
  -moz-box-shadow: 0 0 3px rgba(21,21,21, .3);
  box-shadow: 0 0 3px rgba(21,21,21, .3);
}
.form .form-group{
  margin-bottom: 10px;
}


/* ----- 4.Navigation ----- */

.toggle-right.menu-right.menu-open {
    right: 990px;
}

#toggle-right {
    top: 20px;
    position: relative;
    display: inline-block;
}

#toggle-right img {
    cursor: pointer;
    top: 100px;
    opacity: .6;
}


#toggle-right img:hover {
    opacity: .9;
    
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.menu-left,.menu-right {
    position: fixed;
    top: 0;
    width: 380px;
    height: 100%; 
    z-index: 61;
    -webkit-transform: translate3d(0,0,0);
}

.menu-left {
    left: -320px;
}

.menu-right {
    right: -320px;
}

.menu-right.menu-open {
    right: 0;
}

.menu-left.menu-open {
    left: 0;
}

.menu-wrap {
    position: absolute;
    top: 0;
    left: 60px;
    background: url('../image/nav-bg.jpg');
    width: 320px;
    height: 100%;
    text-align: right;
}

.menu-left .menu-wrap {
    left: 0;
}

.menu-wrap h1 a {
    color: #fff;
}
.menu-wrap .logo {
    font-size: 18px;
    font-family: 'sans';
    font-weight: 0;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0px;
    margin-top: 80px;
    font-weight: 900;
}

.no-touch .menu-wrap .logo a {
    color: #eee;
}

.no-touch .menu-wrap .logo a:hover {
    color: #fff;
} 

.menu-wrap img.logo {
    margin: 20px 25px;
    max-width: 150px;
}
.logo-l {
    opacity: .03;
    text-align: right;
    float: right;
    margin-right: 30px;
    margin-top: 50px;
}
.logo-l img {
    width: 100px;
}
.menu-items {
    margin: auto 25px;
    margin-top: 30px;
}

.menu-items li a {
    display: block;
    font-family: 'raleway';
    color: #bbb;
    font-size: 13px;
    font-weight: 0;
    line-height: 40px;
    letter-spacing: .2em;
    text-transform: uppercase;
    margin-right: 10px;
}

.no-touch .menu-items li a:hover {
    color: #ddd;
}

.menu-icons {
    padding: 25px 10px;
    margin-top: 35px;
    border-top: 1px solid #444;
}

.menu-icons-line {
    margin-right: 20px;
}

.menu-icons i {
    float: right;
    display: inline-block;
    margin: 3px;
    width: 35px;
    height: 35px;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    color: #777;
    border: 1px solid #333;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.no-touch .menu-icons i:hover {
    color: #fff;
    border: 1px solid #444;
    background: #444;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -ms-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
}

.menu-left .menu-close {
    display: none;
}

.menu-close {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 20px;
    right: 5px;
    font-size: 16px;
    color: #777;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.no-touch .menu-close:hover {
    color: #fff;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.body-push {
    position: relative;
    left: 0;
}

.body-push-toright {
    left: 220px;
}

.body-push-toleft {
    left: -220px;
}

.body-push,.menu-left,.menu-right {
  -webkit-transition: all 600ms ease-in;
  -o-transition: all 600ms ease-in;
  -moz-transition: all 600ms ease-in;
  transition: all 600ms ease-in;
  
}

.nav-bar-compact{
  position: fixed;
  top: 10px;
  left: 10px; 
  background: rgba(0,0,0, 0);
  cursor: pointer;
  
  -webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
    -moz-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
    -o-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
    transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  
  z-index: 201;
}
.nbc-bg, .js-nbc-bg{
  background: rgba(18,18,18, 0);
}
.nbc-logo-wrap{
  float: left;
  padding: 0 20px;
  
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.nbc-logox h1 img {
    width: 30px;
    opacity: .7;
}

.nbc-logox h1 img:hover {
    width: 30px;
    opacity: 1; 
}


/* ----- 5.About ----- */

.about-0 {
    position: relative;
    text-align: center;
}
.about-0 p {
    color: #444;
    font-size: 30px;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-family: 'sans';
    font-weight: normal ;
    margin-bottom: 20px;
}

.about-0 p strong {
    color: #000;
    font-weight: 700 ;
}
.about-0 p span{
    color: #333;
    font-size: 56px;
    padding-top: 200px;
    color: #9d9a7d;

}
.about-0 p  img {
    margin: 0 14px 0 10px;
    margin-top: -8px;
    opacity: .2;
}

.about-0 h1 {
    font-size: 18px;
    color: #888;
    line-height: 28px;
    font-family: 'raleway' !important
}

.about-0 h2{
    color: #000;
    font-weight: 900;
    z-index: -1;
    width: 300px;
    height: 300px;
    opacity: .8;
    display: inline-block;
    padding: 16px;
    border: 1px #eee solid;
    margin: 10px 0 40px 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
.about-0 h5{
    color: #666;
    font-size: 15px;
    margin-top: 140px;
    line-height: 26px;
}

.ab-t h1 {
    font-family: 'raleway';
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    color: #777;
}

.about-1 {
    position: relative;
    padding: 65px 50px 0px  50px;
}
.about-1 p {
    color: #fff;
    font-size: 25px;
    font-weight: 900;
    display: inline-block;
    text-align: left;
    margin: 20px 0 40px 0 ;
    font-family: 'sans';
}
.about-1 h1 {
    color: #bbb;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 32px;
}
.about-1 h1 span {
    color: #fff
}


.about-1 h2 {
    color: #9d9a7d;
    font-size: 18px;
    background: none;
    display: inline-block;
    padding: 12px 12px;
    font-weight: 900;
    border-right: 2px solid #9d9a7d;
    border-left: 2px solid #9d9a7d;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


.about-1 h2:hover {
    border-right: 2px solid #9d9a7d;
    border-left: 2px solid #9d9a7d;
    padding: 12px 24px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}


.about-1 img {
    width: 100px;
    -webkit-transition: all 0.07s ;  
    -moz-transition: all 0.07s ; 
    -o-transition: all 0.07s ;
    -ms-transition: all 0.07s; 
    transition: all 0.07s ;
    opacity: .8;
}
.about-1 img:hover {
    width: 100px;
    -webkit-transition: all 0.27s ;  
    -moz-transition: all 0.27s ; 
    -o-transition: all 0.27s ;
    -ms-transition: all 0.27s; 
    transition: all 0.27s ;
    opacity: 1;
}
.about-i {
    text-align: center;
}
.about-i h2{
    color: #000;
    font-weight: 900;
    z-index: -1;
    width: 300px;
    height: 300px;
    opacity: .8;
    display: inline-block;
    padding: 26px;
    border: 1px #ddd solid;
    margin-top: 10px;
    margin-right: 30px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.about-i:hover h2{
}
.about-2 {
    margin-top: 50px;
    text-align: center;
}
.about-2:hover {
}
.about-2 h1{
    color: #777;
    font-size: 14px;
    line-height: 26px;
}
.about-2 h1 span{
    color: #333;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
    font-family: 'sans';
    display: block;
    text-transform: uppercase;
}
.about-2 h1 a {
    font-size: 12px;
    color: #ddd;
    margin: 14px 0 4px 0;
    text-align: center;
    display: inline-block;
    font-family: 'sans';
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

}
.about-2 h1 a strong {
    font-size: 14px;
    line-height: 20px;
    margin-left: 6px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

}
.about-2:hover h1 a {
    color: #888;

}
.about-2:hover h1 a strong {
    margin-left: 2px;
    color: #888;
}
.about-2 h5  {
    text-align: center;
    display: inline-block;
    margin-bottom: 60px;
    width: 150px;
    height: 150px;
    background: transparent;
    background:  #9d9a7d;
    border-radius: 50%;
}
.about-2:hover h5  {
    background: url('../image/ani.gif');
}
.about-2 h5 i {
    font-size: 40px;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    margin-bottom: 30px;
    color: #fff;
}
.about-2:hover h5 i {
    color: #fff;
}
.about-image {
    position: relative;
    padding: 20px 0;
    text-align: center;
    margin: auto 40px;
    margin-top: -40px;
}
.about-image .image-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    margin: 0 30px;
}
.about-image img {
    position: relative;
    z-index: 2;
}
.d-bg-c {
    background: #fff;
    border: 1px solid #bbb;
}
#slideshow {
    width: auto;
    height: 340px;
}
#slideshowWrapper ul li {
    background: #fff;
    width: 100%;
}


/* ----- 6.Showcase ----- */

.service-grid{
}
.service-item{
  display: table;
  width: 33.3%;
  float: left;
  overflow: hidden;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.si-cell{ 
  height: 440px;
  display: table-cell;
  padding: 30px;
  position: relative;
  vertical-align: middle;
  text-align: center;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.si-inner{
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.service-intro{
  position: relative;
  
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.service-intro p {
  font-size: 14px;
  color: #999;
  margin: 14px 20px;
}
.service-icon{  
  font-size: 80px;
  color: #444;
}
.service-title{
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000;
  font-family: 'sans';

}
.service-title strong{
  color: #9d9a7d;
}

.service-descr .service-title{
}

.service-descr{
  opacity: 0;
  position: relative;
  font-size: 0px; 
  color: #777;
  margin-top: -14px;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;



    -webkit-transform: perspective(400px) scale3d(.8, .8, .8);
    -ms-transform: perspective(400px) scale3d(.8, .8, .8);
    transform: perspective(400px) scale3d(.8, .8, .8);



  -webkit-transition: all 600ms ease-in;
  -o-transition: all 600ms ease-in;
  -moz-transition: all 600ms ease-in;
  transition: all 600ms ease-in;

}
.no-mobile .service-item:hover .service-intro{
  opacity: 0; 
  

    -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
    -ms-transform: perspective(400px) scale3d(.95, .95, .95);
    transform: perspective(400px) scale3d(.95, .95, .95);
}
.no-mobile .service-item:hover .service-descr{  
  opacity: 1;
  -webkit-transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -moz-transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -o-transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -ms-transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);    
}

.service-item.js-active .service-intro{
  opacity: 0; 
  
  -webkit-transform: scale(0);
    -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
    transform: scale(0);
}

.service-item.js-active .service-descr{ 
  opacity: 0;
  -webkit-transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -moz-transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -o-transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -ms-transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);    
}

.pdd-1 {
  padding: 40px 0 60px 0;

}
.xat-sar {
  height: 60px;
  line-height: 60px;
  margin-top: 130px;
  background: url('../image/xat-sar.png');

}
.xat-sar h1 {
  text-align: left;
  font-size: 20px;
  color: #444;
  font-weight: 0;
  font-family: 'sans';
  background: #fff;
  display: inline-block;
  text-transform: uppercase;
  padding-right: 20px;
}
.xat-sar h1 span {
  font-weight: 900;
  color: #000;
}


/* ----- 7.Services ----- */

.icons-ser ul {
    text-align: center;
}
.icons-ser ul li {
    color: #aaa;
    font-size: 50px;
    margin: 30px 12px 0px 12px;
    padding: 20px 4px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #aaa;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

}
.icons-ser ul li:hover {
    color: #444;
    border-bottom: 1px solid #444;
}
.bg-ser-sec-1 {
    height: 400px;
    border: 1px solid #eee;
    border-top: 0;
    border-left: 0;
    text-align: center;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.bg-serc-1 {
    background: #fff center no-repeat;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;

}
.bg-serc-1:hover {
    opacity: 1;
    background: url('../image/111.jpg') center no-repeat;
    background-size: cover;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;

}

.bg-serc-2 {
    background: #fff center no-repeat;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;

}
.bg-serc-2:hover {
    opacity: 1;
    background: url('../image/22.jpg') center no-repeat;
    background-size: cover;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;

}
.bg-serc-3 {
    background: #fff center no-repeat;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;

}
.bg-serc-3:hover {
    opacity: 1;
    background: url('../image/33.jpg') center no-repeat;
    background-size: cover;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;

}
.bg-serc-4 {
    background: #fff center no-repeat;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;

}
.bg-serc-4:hover {
    opacity: 1;
    background: url('../image/44.jpg') center no-repeat;
    background-size: cover;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;

}

.bg-serc-5 {
    background: #fff center no-repeat;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;

}
.bg-serc-5:hover {
    opacity: 1;
    background: url('../image/55.jpg') center no-repeat;
    background-size: cover;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;

}

.bg-serc-6 {
    background: #fff center no-repeat;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;

}
.bg-serc-6:hover {
    opacity: 1;
    background: url('../image/66.jpg') center no-repeat;
    background-size: cover;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;

}
.sersec-1 {
    margin: 0px 60px;
    text-align: center;
    margin-top: 15%;
    display: inline-block;
}
.sersec-1 i {
    font-size: 50px;
    color: #333;
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;

}
.sersec-1 h1 {
    color: #444;
    margin-top: 4px;
    font-family: 'sans';
    font-size: 20px; 
    line-height: 34px;
    font-weight: 900;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;

}
.sersec-1 p {
    color: #999;
    margin-top: 20px;
    font-size: 16px; 
    font-family: 'raleway';
}
.sersec-1:hover p {
    display: inline-block;
}
.arr p {
    text-align: center;
    display: inline-block;
    margin-bottom: 0px;
}
.ser-0 {
    position: relative;
    padding: 90px 50px 20px 50px;
    text-align: center;
}
.ser-0 span {
    color: #333;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0 40px 0 ;
    font-family: 'sans';
    display: inline-block;
    padding: 2px 0px;
    font-weight: 0 ;
}
.services {
    text-align: center;
    margin-bottom: 100px;
}

.services-buttons a {
    display: inline-block;
    text-align: center;  
    width: 60px;
    margin: 130px 16px 0px 16px; 
    padding: 0 8px;
    opacity: .5;
    font-size: 60px;
    color: #fff;
}

.services-buttons a:hover {
    opacity: 1;
    -webkit-transition: all 0.27s ;  
    -moz-transition: all 0.27s ; 
    -o-transition: all 0.27s ;
    -ms-transition: all 0.27s; 
    transition: all 0.27s ;
}

.services-buttons a.current {
    opacity: 1;
    -webkit-transition: all 0.27s ;  
    -moz-transition: all 0.27s ; 
    -o-transition: all 0.27s ;
    -ms-transition: all 0.27s; 
    transition: all 0.27s ;
}
.line-charm {
    font-size: 100px;
    line-height: 1px;
    margin-bottom: 20px;
    color: #fff;
}
.ser-1 {
    position: relative;
    padding: 80px 0px 20px 0px;
    text-align: center;
}
.ser-1 h6 {
    margin-bottom: 60px;
    margin-top: 40px;
    color: #333;
    font-size: 25px;
    font-weight:0 !important;
    font-family: 'sans';
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 14px;
    line-height: 47px;
}

.ser-1 h6 img {
    margin: 0 10px;
    opacity: .4;
}

.ser-1 h6 span b{
    color: #333;
    font-weight: 900 !important;
}

.ser-1 h1 {
    color: #aaa;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 32px;
    text-align: center;
}

.ser-1 h1 span {
    color: #9d9a7d;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 26px;
    text-align: center;
    font-weight: normal !important;
}
.ser-1 h2 img {
    width: 50px;
    opacity: .1;
    margin-top: -20px;
    margin-bottom: 40px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
}
.ser-1 h3 {
    font-size: 20px;
    color: #888;
    text-align: center;
}

.ser-1 h4 {
    text-align: center;
    margin-top: 40px;
}
.ser-1 h5 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'sans';
    color: #fff;
    font-weight: 900;
    display: inline-block;
}
.ser-1 i {
    font-size: 60px;
    line-height: 120px;
    color: #333;
    text-align: center;
    margin: 0 4px;
    width: 120px;
    height: 120px;

    background: #fff;
    border: 1px solid #eee;

    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.ser-1 i:hover {
    color: #fff;
    background: #9d9a7d;
    border: 1px solid #9d9a7d;
}


/* ----- 8.Team ----- */

.team-1 {
    position: relative;
    padding: 40px 20px 70px 20px;
    margin:  40px 30px 40px 30px;
    text-align: center;
    border: 1px solid ;
    border-color: rgba(255,255,255,.2);
}
.team-1 p {
    color: #fff;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0 40px 0 ;
    font-family: 'sans';
    display: inline-block;
    padding: 2px 0px;
    letter-spacing: 8px;
    font-weight: 0 !important;

}

.team-1 p  img {
    margin: 0 10px;
    opacity: .5;
}


.team-1 p strong {
    font-weight: 900 !important;

}
.team-1 p span {
    font-weight: 900 !important;

}
.team-1 h1 {
    color: #bbb;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 32px;
    text-align: center;
}
.team-1 h1 span {
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 26px;
    text-align: center;
    font-weight: normal !important;
}
.team-1 h2 {
    color: #333;
    font-size: 18px;
    background: none;
    display: inline-block;
    text-align: center;
    padding: 12px 12px;
    font-weight: 900;
    border-right: 2px solid #333;
    border-left: 2px solid #333;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.team-1 h2:hover {
    border-right: 2px solid #333;
    border-left: 2px solid #333;
    padding: 12px 24px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.team-member-item{
  padding: 15px 15px;
  text-align: center;
  
}

.team-member-item img {
  display: block;
   -webkit-mask-box-image: url('../image/mask-0.png');
  mask-border: url('../image/mask-0.png');
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  transition: all .1s ease-out;
}
.team-member-item:hover img {
   -webkit-mask-box-image: url('../image/mask-1.png');
  mask-border: url('../image/mask-1.png');
  -webkit-transition: all .18s ease-out;
  -moz-transition: all .18s ease-out;
  -o-transition: all .18s ease-out;
  -ms-transition: all .18s ease-out;
  transition: all .18s ease-out;
  opacity: .3;
}

.team-member-item h6 {
  display: block;
  position: absolute;
  color: #333; 
  font-size: 19px;
  font-family: 'raleway';
  top: 29%;
  padding: 0 50px;
  opacity: 0;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  transition: all .4s ease-out;

}
.team-member-item:hover h6 {
  opacity: 1;
  top: 30%;

}
.team-member-item h6 span {
  color: #444;
  display: block;
  font-size: 14px;
  margin-top: 30px;
}
.team-member-item h6 strong {
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'sans'
}
.team-member-item h6 i {
  font-weight: 900;
  margin-top: 35px;
  font-size: 20px;
  text-transform: uppercase;
  margin-right: 2px;
  margin-left: 2px;
  color: #666;
}
.team-member-item h6 i:hover {
  color: #666;
}
.features-icon{
  font-size: 96px;
  line-height: 1.3;
}
.features-title h4{
  margin-bottom: 00px;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  background: #333;
  padding: 12px 0;
}
.team-member-item h2{
  font-family: 'raleway';
  font-size: 17px;
  color: rgba(55,55,55, .9);
  padding: 10px 0;
  border-bottom: 1px solid #333;
}
.team-member-item h3{
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  color: #444;
  background: #ebebeb;
  padding: 12px 0;
  font-family: 'sans'
}
.team-member-item:hover h3{
  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  -ms-transition: all .15s ease-out;
  transition: all .15s ease-out;

}
.team-member-item h4{
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  background: #333;
  padding: 12px 0;
  font-family: 'sans'
}
.team-member-item:hover h4{
  background: #333;
  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  -ms-transition: all .15s ease-out;
  transition: all .15s ease-out;

}
.team-member-item h5{
  font-family: 'raleway';
  font-size: 17px;
  color: rgba(55,55,55, .9);
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.team-member-item p {
  font-family: 'raleway';
  font-size: 14px;
  color: rgba(55,55,55, .5);
  padding: 5px 0;
  opacity: 0;
}
.team-member-item:hover p {
  font-family: 'raleway';
  font-size: 14px;
  color: rgba(55,55,55, .5);
  padding: 5px 0;
  opacity: 1;
  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  -ms-transition: all .15s ease-out;
  transition: all .15s ease-out;
    -webkit-transition-delay: .4s; /* Chrome, Safari, Opera */
    transition-delay: .4s;
}
.team-member-item h1 span {
  color: rgba(55,55,55, .7);
  padding: 0px 2px;
  opacity: 0;
}

.team-member-item:hover h1 span {
  color: rgba(55,55,55, .7);
  padding: 0px 2px;
  opacity: 1;

  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  -ms-transition: all .15s ease-out;
  transition: all .15s ease-out;
    -webkit-transition-delay: .8; /* Chrome, Safari, Opera */
    transition-delay: .8s;
}
.features-icon.black{
  color: rgba(0,0,0, .9);
}
.features-title.black{
  color: rgba(0,0,0, .9);
}
.features-descr.black{
  color: rgba(0,0,0, .75);
}


/* ----- 9.Facts ----- */

.bg-facts {
    height: 340px;
    border: 1px solid #eee;
    border-right: 0;
    text-align: center;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}


.fact-sec {
    margin: 50px 40px;
    text-align: center;
}
.fact-sec i {
    font-size: 42px;
    color: #333;
    line-height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;

}
.fact-sec h1 {
    color: #333;
    margin-top: 4px;
    font-family: 'sans';
    font-size: 24px; 
    font-weight: 900;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;

}
.fact-sec h2 img {
  width: 20px;
  height: 20px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

}
.fact-sec:hover h2 img {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

}
.fact-sec h3 {
    color: transparent;
    margin-top: 4px;
    font-family: 'sans';
    font-size: 14px; 
    font-weight: 900;
    display: inline-block;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);

}
.fact-sec:hover h3 {
    color: #333;
    margin-top: 4px;
    font-family: 'sans';
    font-weight: 900;
    display: inline-block;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.fact-sec p {
    color: #777;
    margin-top: 20px;
    font-size: 16px; 
    font-family: 'raleway';
}
.count-number{
  font-family: sans;
  font-size: 26px;
  font-weight: 700;
  line-height: 2;
  text-align: center;
}
.count-descr{
  font-size: 14px;
  color: #9d9a7d;
  text-align:center;
}
.count-title{
  margin-top: -1px;
  font-size: 13px;
  color: #000;
}
.count-separator{
  height: 30px;
  clear: both;
  float: none;
  overflow: hidden;
}


/* ----- 10.Portfolio ----- */

.work-1 {
    position: relative;
    padding: 80px 0px 20px 0px;
    text-align: center;
}
.work-1 h6 {
    margin-bottom: 20px;
    margin-top: 40px;
    color: #333;
    font-size: 30px;
    font-weight:0 !important;
    font-family: 'sans';
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 14px;
    line-height: 47px;
    letter-spacing: 8px;
}
.work-1 h6 img {
    margin: 0 10px;
    opacity: .2;
}

.work-1 h6 span b{
    color: #333;
    font-weight: 900 !important;
}

.work-1 h1 {
    color: #777;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 32px;
    text-align: center;
}

.work-1 h1 span {
    color: #9d9a7d;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 26px;
    text-align: center;
    font-weight: normal !important;
}
#portfolio + .small-section{
  margin-top: -110px;
}
.works-filter{
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0 0 70px 0;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: #555;
  cursor: default;
}
.works-filter a{
  display: inline-block;
  margin: 0 5px;
  padding: 6px 20px;
  border: 1px solid rgba(0,0,0, .05);
  color: #222;
  text-decoration: none;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  
  -webkit-transition: all 0.37s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  
  cursor: pointer;
}
.works-filter a:first-child{
  margin-left: 0;
}
.works-filter a:last-child{
  margin-right: 0;
}
.works-filter a:hover{
  color: #888;
  border: 1px solid rgba(0,0,0, .2);
  text-decoration: none;
}
.works-filter a.active{
  border-color: #222;
  cursor: default;
}
.works-filter a.active:hover{
  color: #000;
}
.works-grid{
  list-style: none;
  margin: 0 0 -30px 0;
  padding: 0;
}
.work-item{
  width: 25%;
  float: left;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.work-grid-3 .work-item{
  width: 25%;
}
.container .work-grid-3 .work-item{
  width: 25%;
}
.works-grid .mix{
  /*display: none;
  opacity: 0;*/
}
.work-item > a{
  display: block; 
  padding: 0 0 0px 0;
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}
.work-item a,
.work-item a:hover{
  color: #fff;
  border: none;
}
.work-img{
  position: relative;
  overflow: hidden;
}
.work-img img{
  width: 100%;
  display: block;
  overflow: hidden;
}
.work-intro{
  width: 100%;
  -webkit-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  vertical-align: middle;
  left: 0;
  top: 50%;
  text-align: center;
  margin-top: -21px;
  opacity: 0;
}
.work-intro h3 {
  padding: 0;
  font-size: 18px;
  font-weight:900;
  letter-spacing: 1px;
  line-height:18px;
  font-family: 'sans';
  color: #fff;
  margin-top: -10px;
  -webkit-transition: all 0.3s ;
    -moz-transition: all 0.3s ;
    -o-transition: all 0.3s ;
    -ms-transition: all 0.3s ;
    transition: all 0.3s ;
}
.work-intro h2{  
  font-size: 14px;
  text-align: center;
  color: #eee;
  line-height: 14px;
  margin-top: 40px;
  font-family: 'raleway';
  -webkit-transition: all 0.3s ;
    -moz-transition: all 0.3s ;
    -o-transition: all 0.3s ;
    -ms-transition: all 0.3s ;
    transition: all 0.3s ;
}
.works-grid.hide-titles .work-item > a{
  overflow: hidden; 
  padding: 0;
}
.works-grid.hide-titles .work-item .work-intro{
  opacity: 0;
  bottom: -94px;
}
.works-grid.hide-titles .work-item:hover .work-intro{
  opacity: 1;
}
.work-intro{
  -webkit-transition: all 0.37s ;
    -moz-transition: all 0.37s ;
    -o-transition: all 0.37s ;
    -ms-transition: all 0.37s ;
    transition: all 0.37s ;
}
.work-item:hover .work-intro{
  /*bottom: auto;*/
  /*top: 50%;*/
  color: #fff;
  z-index: 3; 
    opacity: 1;
}
.work-item:hover .work-intro h3{
  -webkit-transition: all 0.37s ;
    -moz-transition: all 0.37s ;
    -o-transition: all 0.37s ;
    -ms-transition: all 0.37s ;
    transition: all 0.37s ;
    margin-top: 0;
}
.work-item:hover .work-intro h2{
  -webkit-transition: all 0.3s ;
    -moz-transition: all 0.3s ;
    -o-transition: all 0.3s ;
    -ms-transition: all 0.3s ;
    transition: all 0.3s ;
  margin-top: 15px;
}
.work-item .work-img:after{
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(250,250,250, 0);
  
  -webkit-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  
}
.work-item:hover .work-img:after{ 
    background: #9d9a7d;
    opacity: .9;
}

.works-grid.hover-color .work-item:hover .work-intro,
.works-grid.hover-color .work-item:hover .work-title,
.works-grid.hover-color .work-item:hover .work-descr{
  color: #fff;
}
.works-grid.hover-color .work-item:hover .work-img:after{ 
  background: #e41919;
  opacity: .73;
}
.works-grid.hover-white .work-item:hover .work-intro,
.works-grid.hover-white .work-item:hover .work-title,
.works-grid.hover-white .work-item:hover .work-descr{
  color: #000;
}
.works-grid.hover-white .work-item:hover .work-img:after{ 
  background: rgba(250,250,250, .9);
}
.work-item .work-img > img{
  -webkit-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.work-item:hover .work-img > img{
  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);
  -o-transform: scale(1.0);
  -ms-transform: scale(1.0);
  transform: scale(1.0);
}
.work-full{
  display: none;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 10000;
}
.work-full-load{
  padding-top: 60px;
}
.work-loader{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 10001;
}
.work-loader:after{
  display: block;
  content: " ";
  width: 16px;
  height: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -8px 0 0 -8px;
  background: url(../images/loader.gif) no-repeat;
}
.work-navigation{
  width: 100%;
  height: 51px;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff; 
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  
  z-index: 10002;
}
.work-navigation .fa{
  font-size: 12px;
  vertical-align: middle;
}
.work-navigation .fa-times{
  font-size: 16px;
  margin-top: -2px;
}
.work-navigation a{
  display: block;
  float: left;
  width: 33.33333%;
  overflow: hidden;
  vertical-align: middle;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
.work-navigation a,
.work-navigation a:visited{ 
  color: #151515; 
}
.work-navigation a:hover{ 
  color: #151515; 
}
.work-navigation a span{
  display: inline-block;
  height: 50px;
  line-height: 49px;
  padding: 0 4%;
  background: #fff;
  
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.work-navigation span:hover{
  background: #f7f7f7;
}
.work-back-link{
  margin: 20px 0 0;
  display: block;
  background: #fff;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #151515; 
}
.work-prev{
  text-align: left;
}
.work-all{
  text-align: center;
}
.work-next{
  text-align: right;
}
.work-container{
  padding: 50px 0;
}
.work-full-title{
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}
.work-full-media{
  margin-top: 30px;
}

.work-full-media img{
  max-width: 100%;
  height: auto;
}
.work-full-text{
  text-align: left;
  font-size: 13px;
  color: #777;
}
.work-full-text h6{ 
  margin-top: 5px;
}
.work-detail{
  margin-bottom: 30px;
}
.work-detail p:last-child{
  margin-bottom: 0;
}
.work-full-detail{
  font-size: 11px;
  color: #777;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.work-full-detail p{ 
  margin: 0 0 4px 0;
}
.work-full-action{
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #eaeaea;
  text-align: center;
}
.work-full-title{
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}
.work-full-media{
  text-align: center;
  margin-top: 20px;
}

.work-full-media span{
  font-size: 120px;
  line-height: 100px;
  width: 200px;
  height: 200px;
  text-align: center;
  color: rgba(0,0,0,.07);
  display: inline-block;
  position: absolute;
  border: 2px solid rgba(0,0,0,.0);
  padding: 50px;
}
.work-full-media h1{
  font-size: 24px;
  text-align: left;
  color: rgba(0,0,0,1);
  display: block;
  font-weight: 900;
  font-family: 'sans';
}
.work-full-media h2{
  padding-top: 30px;
  font-size: 14px;
  text-align: left;
  color: #777;
  display: block;
  line-height: 39px;
}
.work-full-media i{
  font-size: 280px;
  margin-top: -20px;
  text-align: left;
  right: 20px;
  color: rgba(0,0,0,.04);
  position: absolute;
}
.work-full-media:hover i{
}
.work-full-text{
  text-align: left;
  font-size: 13px;
  color: #777;
}
.work-full-text h6{ 
  margin-top: 5px;
}
.work-detail{
  margin-bottom: 30px;
}
.work-detail p:last-child{
  margin-bottom: 0;
}
.work-full-detail{
  font-size: 11px;
  color: #777;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.work-full-detail p{ 
  margin: 0 0 4px 0;
}
.work-full-action{
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #eaeaea;
  text-align: center;
}

.work-ext-link {
  cursor: url(../image/mouse-1.png), auto;
}
.work-lightbox-link {
  cursor: url(../image/mouse-2.png), auto;
}
/* ----- 11.Small-Section ----- */

.text-on-r {
    padding: 80px 0 60px 0;
}
.text-on-r p {
    color: rgba(255,255,255,.7);
    font-size: 14px;
    margin-bottom: 12px;
}
.text-on-r h1 {

    color: #fff;
    font-size: 19px;
    font-weight: 900;
    font-family: 'sans';

}

.text-on-r h1 span {

    color: #9d9a7d

}


/* ----- 12.Clients/Logos ----- */

.testimonial{
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    text-align: center;
    font-family: raleway, arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0;
  color: #fff;
}
.testimonial-author{
    margin-top: 20px;
    color: rgba(255,255,255,.6);
    font-family: 'raleway';
  font-size: 14px;
  font-style: italic;
    text-align: center;
}

.testimonial-author img {
    width: 220px;
}
.logo-item{
    text-align: center;
    opacity: .65;
    padding-top: 60px;
    
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    
}
.logo-item h1 { 
    font-family: 'raleway';
    color: #fff;
    position: relative;
    top: 60%;

}
.logo-item h1 img { 
    width: 50%;

}
.logo-item:hover{
    opacity: 1;
}

/* ----- 13.Blog ----- */

.blog-1 {
    position: relative;
    padding: 80px 0px 20px 0px;
    text-align: center;
}
.blog-1 h6 {
    margin-bottom: 20px;
    margin-top: 40px;
    color: #333;
    font-size: 30px;
    font-weight:0 !important;
    font-family: 'sans';
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 14px;
    line-height: 47px;
    letter-spacing: 8px;
}


.blog-1 h6 img {
    margin: 0 10px;
    opacity: .2;
}

.blog-1 h6 span b{
    color: #333;
    font-weight: 900 !important;
}

.blog-1 h1 {
    color: #777;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 32px;
    text-align: center;
}

.blog-1 h1 span {
    color: #9d9a7d;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 26px;
    text-align: center;
    font-weight: normal !important;
}


.bg-blog-pre-1 {
    /*background: url('../image/15.jpg');*/
    height: 400px; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-blog-pre-2222 {
    /*background: url('../image/112.jpg');*/
    height: 400px; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-blog-pre-3 {
    /*background: url('../image/1122.jpg');*/
    height: 400px; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-blog-pre-4 {
    /*background: url('../image/15.jpg');*/
    height: 400px; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-blog-pre-11 {
    background: url('../image/blog/11.jpg');
    height: 400px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-blog-pre-111 {
    background: url('../image/blog/111.jpg');
    height: 400px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.blog-pre-1 {
    margin: 50px 60px;
    text-align: right;
    z-index: 99999;
}
.blog-pre-1 h2 {
    font-size: 30px;
    color: #fff;
    text-align: right;
    line-height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    -webkit-text-shadow: 0px 3px 10px rgba(0, 0, 0, .2);
    -moz-text-shadow: 0px 3px 10px rgba(0, 0, 0, .2);
    text-shadow: 0px 3px 10px rgba(0, 0, 0, .2);

}
.blog-pre-1 h2 span {
    font-size: 80px;
    margin-right: 25px;
    color: #fff;
      -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
.blog-pre-1:hover h2 span {
    margin-right: 20px;
}
.blog-pre-1 h1 {
    color: rgba(255,255,255,.6);
    margin-top: 4px;
    font-family: 'sans';
    font-size: 24px; 
    font-weight: 900;
    margin-bottom: 30px;
    line-height: 40px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.blog-pre-1 h1 span {
    border-bottom: 4px solid #9d9a7d;
    padding-bottom: 16px;
}

.blog-pre-1:hover h1 {
    color: #fff;
}
.blog-pre-1 p {
    color: #ccc;
    margin-top: 28px;
}


.bg-blog-pre-2 {
    background: #fff;
    height: 400px;
    border: 1px solid #ddd;
    border-bottom: 0;
}
.bg-blog-pre-22 {
    background: #fff;
    height: 400px;
    border: 1px solid #ddd;
}

.blog-pre-2 {
    margin: 76px 60px;
    text-align: left;
}
.blog-pre-2 img {
    width: 76px;
    height: 76px;
    /*border: 2px solid #eee;
    border-radius: 50%;*/
    margin-bottom: 10px;
}
.blog-pre-2 h1 {
    color: #666;
    margin-top: 34px;
    font-family: 'sans';
    font-size: 14px; 
    font-weight: 900;
}
.blog-pre-2 h1:hover {
    color: #333;
}
.blog-pre-2 p {
    color: #aaa;
    margin-top: 20px;
    line-height: 30px;
}
.more-p {
    padding: 0px 0 20px 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.more-p h1 a {
    font-size: 18px;
    color: #ddd;
    margin: 14px 0 4px 0;
    text-align: center;
    display: inline-block;
    font-family: 'sans';
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.more-p h1 a strong {
    font-size: 14px;
    margin-left: 6px;

}
.more-p:hover h1 a {
    color: #888;

}
.more-p:hover h1 a strong {

    color: #888;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


/* ----- 14.Contact ----- */

.connect-1 {
    padding: 10px 0;

}
.connect-1 h1 {
    text-align: center;
    font-size: 22px;
    color: #333;
    font-family: 'raleway';
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900px;
}
.connect-1 h2 {
    text-align: center;
    font-size: 80px;
    color: #9d9a7d;
    font-family: 'raleway';
    margin-top: -80px;
}
.connect-1 h3 {
    text-align: center;
    font-size: 13px;
    color: #aaa;
    font-family: 'raleway';

}
.connect-1 h4 {
    text-align: center;
    font-size: 12px;
    color: #333;
    font-family: 'raleway';
    margin-top: 10px;

}

.contact-form .form-group{
    /*margin-bottom: 30px;*/
}

#contact_form p {
    margin-top: 40px;
}

.contact-form input.ci-field{
    height: 44px;
    padding: 10px 0;
    font-size: 13px;
    font-weight: 400;
    text-transform: none;
    color: #333;
    background: transparent !important;
    border: none;
    border-bottom: 1px solid rgba(0,0,0, .3);
}
.contact-form input.ci-field:hover{
    border-color: rgba(0,0,0, .5);
}
.contact-form input.ci-field:focus{
    color: #666;
    border-color: rgba(0,0,0, .5);
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.contact-form textarea.ci-area:focus{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.contact-form input.ci-field::-webkit-input-placeholder,
.contact-form textarea.ci-area::-webkit-input-placeholder{
    color: rgba(0,0,0, .4);
}
.contact-form input.ci-field:focus::-webkit-input-placeholder,
.contact-form textarea.ci-area:focus::-webkit-input-placeholder{
    color: rgba(0,0,0, .4);
}

.contact-form input.ci-field:-moz-placeholder,
.contact-form textarea.ci-area:-moz-placeholder{
    color: rgba(0,0,0, .4);
}
.contact-form input.ci-field:focus:-moz-placeholder,
.contact-form textarea.ci-area:focus:-moz-placeholder{
    color: rgba(0,0,0, .4);
}

.contact-form input.ci-field::-moz-placeholder,
.contact-form textarea.ci-area::-moz-placeholder{
    color: rgba(0,0,0, .4);
}
.contact-form input.ci-field:focus::-moz-placeholder,
.contact-form textarea.ci-area:focus::-moz-placeholder{
    color: rgba(0,0,0, .4);
}

.contact-form input.ci-field:-ms-input-placeholder,
.contact-form textarea.ci-area:-ms-input-placeholder{
    color: rgba(0,0,0, .4);
}
.contact-form input.ci-field:focus:-ms-input-placeholder,
.contact-form textarea.ci-area:focus:-ms-input-placeholder{
    color: rgba(0,0,0, .4);
}

.contact-form textarea.ci-area{
    height: 30px;
    padding: 3px;
    font-size: 13px;
    font-weight: 400;
    text-transform: none !important;
    color: #333;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .15);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    margin-top: 40px;
    
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.contact-form textarea.ci-area{
    border-color: rgba(0,0,0, .3);
}
.contact-form textarea.ci-area:hover{
    border-color: rgba(0,0,0, .5);
}
.contact-form textarea.ci-area:focus{
    color: #333;
    border-color: rgba(0,0,0, .5);
}
.contact-form label{
    margin-top: 10px;
    margin-bottom: 6px;
    font-size: 17px;
    font-weight: 400;
    text-transform: none !important;
    color: rgba(0,0,0, .8);
}
.contact-form .ci-btn{
    margin-top: -5px;
    color: #aaa;
    background: rgba(51,51,51, .75);    
}
.contact-form .ci-btn:hover{
    background: rgba(75,75,75, .75);    
}
.contact-form .ci-btn:focus{    
    outline:none;
}

.contact-form .error{
    margin-top: 20px;
    padding: 13px 20px;
    text-align: center;
    background: rgba(228,25,25, .75);
    color: #fff;
}
.contact-form .success{
    margin-top: 20px;
    padding: 13px 20px;
    text-align: center;
    background: rgba(50,178,95, .75);
    color: #fff;
}


/* ----- 15.Google Map ----- */

#google-map{
  background: #fff;
    margin-top: -150px;
    padding-bottom: 150px;
    margin-bottom: 150px;
    /*display: none;*/
}
#map-canvas{
    display: none;
  height: 550px;
  background-color: #333 !important;
}
.gm-style-cc{
  display: none !important;
}
.gm-style-iw div{
  color: #777;
}


/* ----- 16.Footer ----- */

.footer{
    color: #707070;
    font-size: 12px;   
    margin-top: -150px;
}
.footer a{
    color: #aaaaaa;
    text-decoration: none;
    
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.footer a:hover{
    color: #aaa;
     text-decoration: none;
}
.footer-copy{
    font-size: 14px;
    font-weight: 0;
    letter-spacing: 1px;
}
.footer-copy span{
    color: #666;
}
.footer-made{
    font-size: 12px;
    font-weight: 700;
  margin-top: 4px;
}
.footer-made span {
    font-size: 'sans';
}
.footer-social-links{
    margin: 100px 0;
    font-size: 20px;
    font-weight: 900;
}
.footer-social-links a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    color: #666;
    border: 1px solid #fff;
    
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}

.footer-social-links a:hover{
    color: #333;
    border: 1px solid #aaa;
}

.footer-text {
  text-align: right;
    margin: 100px 0;
}
.footer-text img {
  margin-top: 4px;
  opacity: .75;
  width: 32px;
}


/* ----- 17.OwlCarousel ----- */

.margin-block{
  margin-bottom: 30px;
}

.owl-buttons{
  position: static;
}
.owl-prev,
.owl-next{
  opacity: 1;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 40px;
  height: 60px;
  line-height: 60px;
  font-size: 74px;
  text-align: center;
  color: rgba(55,55,55, .7);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
    
    z-index: 99996;
  
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.owl-prev{
  left: 0;
  opacity: .4
}
.owl-next{
  right: 0;
  opacity: .4
}
.owl-prev:hover,
.owl-next:hover{
  opacity: 1
}
.owl-prev:active,
.owl-next:active{ 
  -webkit-transform: scale(0.94);
  -moz-transform: scale(0.94);
  -o-transform: scale(0.94);
  -ms-transform: scale(0.94);
  transform: scale(0.94);
}
.owl-carousel:hover .owl-prev{
  opacity: 1;
  left: 25px;
}
.owl-carousel:hover .owl-next{
  opacity: 1;
  right: 25px;
}
.owl-pagination{
  display: block;
  width: 100%;
  position: absolute;
  bottom: 45px;
  left: 0;
  text-align: center;
    z-index: 100 !important;
}
.owl-page{
  display: inline-block;
  padding: 6px 4px;
}
.owl-page span{
  width: 24px;
  height: 3px;
  display: none;
  background: rgba(255,255,255, .2);
  
  -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
  -moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
  box-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
  
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.owl-page:hover span{
  background: rgba(55,55,55, .45);
}
.owl-page.active span{
  background: rgba(55,55,55, .65);
}

.item-carousel {
  margin-bottom: 60px;
}
.item-carousel .owl-prev{
  left: -125px;
  opacity: .2;
}
.item-carousel .owl-next{
  right: -125px;
  opacity: .2;
}
section:hover .item-carousel.owl-carousel .owl-prev{
  opacity: 1;
  left: -130px;
}
section:hover .item-carousel.owl-carousel .owl-next{
  opacity: 1;
  right: -130px;
}
.item-carousel .owl-pagination{
  bottom: 0px;
}

.work-full-slider:hover .owl-prev,
.content-slider:hover .owl-prev{
  left: 10px;
}
.work-full-slider:hover .owl-next,
.content-slider:hover .owl-next{
  right: 10px;
}
.work-full-slider .owl-pagination,
.content-slider .owl-pagination{
  bottom: 15px;
}

.single-carousel,
.small-item-carousel{
    margin-bottom: 35px;
}
.single-carousel .owl-pagination,
.small-item-carousel .owl-pagination{
    position: relative;
    left: 0;
    top: 35px;
    margin: 0;
}
.single-carousel.black .owl-page span,
.small-item-carousel.black .owl-page span{
    background: rgba(0,0,0, .15);
    
    -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.single-carousel.black .owl-page:hover span,
.small-item-carousel.black .owl-page:hover span{
    background: rgba(0,0,0, .4);
}
.single-carousel.black .owl-page.active span,
.small-item-carousel.black .owl-page.active span{
  background: rgba(0,0,0, .4);
}

.single-carousel.black .owl-prev,
.single-carousel.black .owl-next,
.small-item-carousel.black .owl-prev,
.small-item-carousel.black .owl-next{
    color: rgba(0,0,0, .2);
    text-shadow: none;
    
    -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.single-carousel.black .owl-prev:hover,
.single-carousel.black .owl-next:hover,
.small-item-carousel.black .owl-prev:hover,
.small-item-carousel.black .owl-next:hover{
    color: rgba(0,0,0, .35);
}
.single-carousel .owl-prev,
.small-item-carousel .owl-prev{
  left: -125px;
  top: 4px;
}
.single-carousel .owl-next,
.small-item-carousel .owl-next{
  right: -125px;
  top: 4px;
}
section:hover .single-carousel .owl-prev,
section:hover .small-item-carousel .owl-prev{
  opacity: 1;
  left: -130px;
}
section:hover .single-carousel .owl-next,
section:hover .small-item-carousel .owl-next{
  opacity: 1;
  right: -130px;
}


/* ----- 18.SkillBar ----- */

.skill-bar {
  height: 1px;
  position: relative;
  margin: 50px 0 0 0;
  background: rgba(255,255,255,.1);
  line-height: 30px;
  font-family: 'sans';
  font-size: 11px;
  color: #fff; 
}
.skill-title {
  font-size: 11px;
  display: inline-block;  
  min-width: 12px;
  height: 16px;
  padding: 1 4px;
  position: absolute;
  top: -8px;
  right: 5px;
  background: #9d9a7d;
  color: #fff;
  text-align: right;
  line-height: 15px;
  font-family: 'raleway';
  letter-spacing: 0;
}
.skill-bar-value {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(255,255,255,.51);
  overflow: visible !important;
}
.skill-bar-value span {
  padding: 1px 4px; 
  font-family: 'raleway';
  font-size: 12px;
}

section.small-section.parallax-3 {
    background-image: url("../image/bg-2.jpg");
    background-position: 50% -52px;
}

section.small-section.parallax-4 {
    background-image: url("../image/bg-3.jpg");
    background-position: 50% -32px;
}

section.small-section.parallax-5 {
    background-image: url("../image/bg-4.jpg");
    background-position: 50% -91px;
}

section.small-section.parallax-6 {
    background-image: url("../image/bg-5.jpg");
    background-position: 50% 26px;
}

section.small-section.parallax-7 {
    background-image: url("../image/bg-7.jpg");
}